extends layout.pug
block header
    title Sstore - Liên hệ

block content
    section.about-us
        .container
            .contact-content
                h3 Liên hệ
                p Mọi chi tiết xin quý khách vui lòng liên hệ: 0976 747 562
            .hanoi
                h3 Hà nội
                p Trụ sở chính: Ngõ 322, đường Mỹ Đình, Từ Liêm, Hà Nội.
                p Giờ làm việc: 9AM - 8PM. Chủ nhật: 10AM - 4PM.
                p Điện thoại: 0976 747 562
                p Website: https://github.com/ngovansonWFT1/ngovansonWFT1.github.io
            .contact-map
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.2395033656353!2d105.7717776153895!3d21.02310079334629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454aef9e4ee2f%3A0x9e0873fb6f91fad6!2zMzIyIE3hu7kgxJDDrG5oIDEsIE3hu7kgxJDDrG5oLCBU4burIExpw6ptLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1568860906189!5m2!1svi!2s' width='600' height='450' frameborder='0' style='border:0;' allowfullscreen='')