.footer
    .infor-footer
        .container
            .row
                .col-md-8
                    .infor-footer-left
                        .about-footer
                            h5 Giới thiệu
                            .content-infor
                                p
                                    a(href="") Trang chủ
                                p
                                    a(href="") Về chúng tôi
                                p
                                    a(href="") Điều khoản giao dịch
                                p
                                    a(href="") Bảo mật thông tin
                                p
                                    a(href="") Tuyển dụng
                        .policy-footer
                            h5 Chính sách
                            .content-policy
                                p
                                    a(href="") Chính sách giao nhận
                                p
                                    a(href="") Chính sách đổi trả
                                p
                                    a(href="") Phương thức thanh toán
                                p
                                    a(href="") Chế độ bảo hành
                        .support-footer
                            h5 Hỗ trợ khách hàng
                            .content-support
                                p Hotline: 0976.747.562
                                p Email: ngoson2910@gmail.com
                                p
                                    a(href="") Gửi yêu cầu đổi hàng
                                p
                                    a(href="") Gửi yêu cầu bảo hành
                .col-md-4
                    .infor-footer-right
                        .address-footer
                            h5 Địa chỉ
                            .content-support
                                p Ngõ 322, đường Mỹ Đình, Từ Liêm, Hà Nội
                                p 
                                    a(href="") Tìm đường
                        .contact-footer
                            h5 Liên hệ với chúng tôi
                            .contain-icon-social
                                a(href="")
                                    img.img-fluid(src="./../images/footer/facebook.svg", alt="icon-facebook")
                                a(href="")
                                    img.img-fluid(src="./../images/footer/instagram.svg", alt="icon-instagram")
                                a(href="")
                                    img.img-fluid(src="./../images/footer/youtube.svg", alt="icon-youtube")
                                a(href="")
                                    img.img-fluid(src="./../images/footer/google-plus.svg", alt="icon-google-plus")
    .copy-right-footer
        p.text-center © 2019- Bản quyền của Sstore
    .back-to-top
        a(href="")
            img(src="./../images/footer/back-to-top.png", alt="back-to-top")
