extends layout.pug

block header
    title Sstore - Home page

block content
    section.slide-hot-product
        .only-image-cover
            .block-slide-img
                img.img-fluid(src="./../images/home-page/slide-1.jpg",alt="ssd samsung")
            .block-slide-img
                img.img-fluid(src="./../images/home-page/slide-2.jpg",alt="ssd samsung")
            .block-slide-img
                img.img-fluid(src="./../images/home-page/slide-3.jpg",alt="ssd samsung")
            .block-slide-img
                img.img-fluid(src="./../images/home-page/slide-4.jpg",alt="ssd samsung")
            .block-slide-img
                img.img-fluid(src="./../images/home-page/slide-5.jpg",alt="ssd samsung")
    section.feature-product
        .container
            .row
                .col-md-4
                    .img-feature-left
                        a(href="top-ssd.html")
                            img(src="./../images/home-page/19.jpg", alt="ssd")
                        .layer-cover
                            a(href="/template-part/top-ssd.html")
                                p Top SSD
                .col-md-4
                    .img-feature-middle
                        a(href="/template-part/top-microsd.html")
                            img(src="./../images/home-page/20.jpg", alt="micro-SD")
                        .layer-cover
                            a(href="/template-part/top-microsd.html")
                                p Top Thẻ nhớ
                .col-md-4
                    .img-feature-right
                        .block-img-top
                            a(href="/template-part/top-ram.html")
                                img(src="./../images/home-page/21.jpg", alt="ram")
                            .layer-cover-1
                                a(href="/template-part/top-ram.html")
                                    p Top Ram
                        .block-img-top
                            a(href="/template-part/top-mobi-disk.html")
                                img(src="./../images/home-page/4.jpg", alt="hard-disk")
                            .layer-cover-1
                                a(href="/template-part/top-mobi-disk.html")
                                    p Top Ổ cứng di động
    section.product-sale
        .container
            .bagde-title
                h4 Sản phẩm giảm giá
            //- .sort-product-by-brand
            //-     p Sắp xếp theo
            //-     .dropdown
            //-         button#dropdownMenuButton1.btn.btn-secondary.dropdown-toggle.sale-prd(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            //-             | Samsung
            //-         .dropdown-menu.sale-prd#sale(aria-labelledby='dropdownMenuButton')
            //-             a.dropdown-item.sale-item(href='#' data-sort-by="name") Samsung
            //-             a.dropdown-item.sale-item(href='#' data-sort-by="name") Crucial
            //-             a.dropdown-item.sale-item(href='#' data-sort-by="name") Adata
            //-             a.dropdown-item.sale-item(href='#' data-sort-by="name") Western Digital
            //-             a.dropdown-item.sale-item(href='#' data-sort-by="name") Kingston
            //-             a.dropdown-item.sale-item(href='#' data-sort-by="name") Apacer
            //-             a.dropdown-item.sale-item(href='#' data-sort-by="name") Corsair
            //-             a.dropdown-item.sale-item(href='#' data-sort-by="name") G.Skill
            //-             a.dropdown-item.sale-item(href='#' data-sort-by="name") Sandisk
            //-             a.dropdown-item.sale-item(href='#' data-sort-by="name") Toshiba
            //-             a.dropdown-item.sale-item(href='#' data-sort-by="name") Trancend
            //-             a.dropdown-item.sale-item(href='#' data-sort-by="name") Lexar
            .row
                .col-md-12
                    .block-card-sale
                        .card
                            
                            .block-img
                                img.card-img-top(src='./../images/product-list/ssd/1.jpg' alt='ssd')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 23%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail.html") SSD Crucial BX500 3D NAND SATA III 2.5 inch 120GB CT120BX500SSD1
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 500.000 đ
                                        del 650.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Crucial
                                .standard 2.5inch
                                .price 500000
                                .memory 120
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/ram/1.jpg' alt='ssd')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 44%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-ram.html") Ram Laptop Apacer DDR3L 4GB Bus 1600Mhz 1.35v DV.04G2K.KAM
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 420.000 đ
                                        del 750.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Apacer
                                .standard 1600
                                .price 420000
                                .memory 4
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/ram-pc/1.jpg' alt='ssd')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 30%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-rampc.html") Ram PC Kingston HyperX Fury Black 8GB Bus 2666 DDR4 CL16 DIMM XMP Non-ECC
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 880.000 đ
                                        del 1.250.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Kingston
                                .standard 2666
                                .price 880000
                                .memory 8
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/hard-disk-mobi/3.jpg' alt='ssd')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 17%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-mobi-hardisk.html") Ổ cứng di động Seagate Backup Plus Slim 1TB
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 1.450.000 đ
                                        del 1.750.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Seagate
                                .standard 2.5inch
                                .price 1450000
                                .memory 1000
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/microSD/1.jpg' alt='thẻ nhớ SanDisk')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 38%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-microsd.html") Thẻ Nhớ MicroSDHC SanDisk Ultra 16GB 80MB/s 533x
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 80.000 đ
                                        del 130.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Sandisk
                                .standard 
                                .price 130000
                                .memory 16
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/microSD/2.jpg' alt='ssd')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 33%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-microsd.html") Thẻ nhớ MicroSDHC Kingston Canvas Select 16GB Class 10 U1 80MB/s SDCS/16GB
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 80.000 đ
                                        del 120.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                                .filter-hidden(style={display:'none'})
                                    .brand Kingston
                                    .standard 
                                    .price 80000
                                    .memory 16
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/hard-disk-mobi/5.jpg' alt='ssd')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 9%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-mobi-hardisk.html") Ổ cứng di động Western Digital My Passport 1TB WDBYNN0010B (Phiên bản mới)
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 1.545.000 đ
                                        del 1.690.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Western Digital
                                .standard 2.5inch
                                .price 1545000
                                .memory 1000
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/ram-pc/2.jpg' alt='ssd')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 29%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-rampc.html") Ram PC Crucial Ballistix Sport LT 8GB Bus 2666 DDR4 CL16
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 890.000 đ
                                        del 1.250.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Crucial
                                .standard 2666
                                .price 890000
                                .memory 8
                    
                    
            .see-more-product
                a(href="/template-part/product-list-sale.html") 
                    |Xem tất cả
                    img(src="./../images/home-page/see-more.png", alt="arrow")
    section.product-hard-disk-ssd
        .container
            .bagde-title
                h4 Ổ cứng thể rắn SSD
            .sort-product-by-brand
                p Sắp xếp theo
                .dropdown#dr1
                    button#dropdownMenuButton2.btn.btn-secondary.dropdown-toggle.ssd-prd(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        | Mặc định
                    .dropdown-menu.ssd-prd(aria-labelledby='dropdownMenuButton')
                        a.dropdown-item(href='#' data-sort-by= "all" data-filter="all") Mặc định
                        a.dropdown-item(href='#' data-sort-by="name" data-filter="ASC") A - Z
                        a.dropdown-item(href='#' data-sort-by="name" data-filter="DESC") Z - A
                        a.dropdown-item(href='#' data-sort-by="price" data-filter="ASC") Giá tăng dần
                        a.dropdown-item(href='#' data-sort-by="price" data-filter="DESC") Giá giảm dần
            .row
                .col-md-12
                    .block-card-ssd
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/ssd/1.jpg' alt='ssd')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 23%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail.html") SSD Crucial BX500 3D NAND SATA III 2.5 inch 120GB CT120BX500SSD1
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 500.000 đ
                                        del 650.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Crucial
                                .standard 2.5inch
                                .price 500000
                                .memory 120
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/ssd/2.jpg' alt='ssd')
                                //- .layer-sale
                                //-     img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                //-     .sale-percent
                                //-         p 29%
                                //-         h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail.html") SSD Kingston A400 SATA 3 120GB SA400S37/120G
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 550.000 đ
                                        //- del 1.250.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Kingston
                                .standard 2.5inch
                                .price 550000
                                .memory 120
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/ssd/3.jpg' alt='ssd')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 20%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail.html") SSD Kingston A400 M.2 2280 SATA 3 120GB SA400M8/120G
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 550.000 đ
                                        del 690.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Kingston
                                .standard M.2 Sata
                                .price 550000
                                .memory 120
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/ssd/4.jpg' alt='ssd')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 29%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail.html") SSD Crucial BX500 3D NAND SATA III 2.5 inch 240GB CT240BX500SSD1
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 700.000 đ
                                        del 990.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Crucial
                                .standard 2.5inch
                                .price 700000
                                .memory 240
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/ssd/5.jpg' alt='ssd')
                                //- .layer-sale
                                //-     img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                //-     .sale-percent
                                //-         p 23%
                                //-         h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail.html") SSD Kingston UV500 3D-NAND mSATA SATA III 120GB SUV500MS/120G
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 720.000 đ
                                        //- del 650.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Kingston
                                .standard mSata
                                .price 720000
                                .memory 120
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/ssd/6.jpg' alt='ssd')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 26%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail.html") SSD Samsung NVMe PM961 M.2 PCIe Gen3 x4 128GB
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 850.000 đ
                                        del 1.150.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Samsung
                                .standard M.2 PCIe
                                .price 850000
                                .memory 128
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/ssd/7.jpg' alt='ssd')
                                //- .layer-sale
                                //-     img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                //-     .sale-percent
                                //-         p 29%
                                //-         h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail.html") SSD Samsung NVMe PM981 M.2 PCIe Gen3 x4 256GB MZVLB256HAHQ
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 1.030.000 đ
                                        //- del 770.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Samsung
                                .standard M.2 PCIe
                                .price 1030000
                                .memory 256
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/ssd/8.jpg' alt='ssd')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 25%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail.html") SSD Crucial MX500 3D NAND SATA III 2.5 inch 250GB CT250MX500SSD1
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 1.090.000 đ
                                        del 1.450.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Crucial
                                .standard 2.5inch
                                .price 1090000
                                .memory 250
                        

            .see-more-product
                a(href="/template-part/product-list.html") 
                    |Xem tất cả
                    img(src="./../images/home-page/see-more.png", alt="arrow")
    section.product-mobival-hard-disk
        .container
            .bagde-title
                h4 Ổ cứng di động
            .sort-product-by-brand
                p Sắp xếp theo
                .dropdown#dr2
                    button#dropdownMenuButton3.btn.btn-secondary.dropdown-toggle.mobi-prd(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        | Mặc định
                    .dropdown-menu.mobi-prd(aria-labelledby='dropdownMenuButton')
                        a.dropdown-item(href='#' data-sort-by= "all" data-filter="all") Mặc định
                        a.dropdown-item(href='#' data-sort-by="name" data-filter="ASC") A - Z
                        a.dropdown-item(href='#' data-sort-by="name" data-filter="DESC") Z - A
                        a.dropdown-item(href='#' data-sort-by="price" data-filter="ASC") Giá tăng dần
                        a.dropdown-item(href='#' data-sort-by="price" data-filter="DESC") Giá giảm dần
            .row
                .col-md-12
                    .block-card-mobi
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/hard-disk-mobi/1.jpg' alt='ssd')
                                //- .layer-sale
                                //-     img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                //-     .sale-percent
                                //-         p 16%
                                //-         h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-mobi-hardisk.html") Ổ cứng di động 1TB chống Sock Apacer AC631 Military-Grade USB 3.1 Gen 1 AP1TBAC631U-1
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 1.199.000 đ
                                        //- del 2.190.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Apacer
                                .standard 2.5inch
                                .price 1199000
                                .memory 1000
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/hard-disk-mobi/2.jpg' alt='ssd')
                                //- .layer-sale
                                //-     img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                //-     .sale-percent
                                //-         p 16%
                                //-         h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-mobi-hardisk.html") Ổ cứng di động chống Sock Apacer AC630 USB 3.1 1TB AP1TBAC630T-1
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 1.290.000 đ
                                        //- del 2.190.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                                .filter-hidden(style={display:'none'})
                                    .brand Apacer
                                    .standard 2.5inch
                                    .price 1290000
                                    .memory 1000
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/hard-disk-mobi/3.jpg' alt='ssd')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 17%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-mobi-hardisk.html") Ổ cứng di động Seagate Backup Plus Slim 1TB
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 1.450.000 đ
                                        del 1.750.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Seagate
                                .standard 2.5inch
                                .price 1450000
                                .memory 1000
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/hard-disk-mobi/4.jpg' alt='ssd')
                                //- .layer-sale
                                //-     img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                //-     .sale-percent
                                //-         p 16%
                                //-         h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-mobi-hardisk.html") Ổ cứng di động Transcend StoreJet Slim 25M3S 1TB TS1TSJ25M3S
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 1.450.000 đ
                                        //- del 2.190.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Trancend
                                .standard 2.5inch
                                .price 1450000
                                .memory 1000
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/hard-disk-mobi/5.jpg' alt='ssd')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 9%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-mobi-hardisk.html") Ổ cứng di động Western Digital My Passport 1TB WDBYNN0010B (Phiên bản mới)
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 1.545.000 đ
                                        del 1.690.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Western Digital
                                .standard 2.5inch
                                .price 1545000
                                .memory 1000
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/hard-disk-mobi/6.jpg' alt='ssd')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 18%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-mobi-hardisk.html") Ổ cứng di động Western Digital Elements 1.5TB WDBU6Y0015BBK-WESN
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 1.550.000 đ
                                        del 1.890.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Western Digital
                                .standard 2.5inch
                                .price 1550000
                                .memory 1500
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/hard-disk-mobi/7.jpg' alt='ssd')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 18%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-mobi-hardisk.html") Ổ cứng di động 2TB chống Sock Apacer AC631 Military-Grade USB 3.1 Gen 1 AP2TBAC631U-1
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 1.770.000 đ
                                        del 2.150.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Apacer
                                .standard 2.5inch
                                .price 1770000
                                .memory 2000
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/hard-disk-mobi/8.jpg' alt='ssd')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 14%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-mobi-hardisk.html") Ổ cứng di động chống Sock Apacer AC630 USB 3.1 2TB AP2TBAC630T-1
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 1.850.000 đ
                                        del 2.150.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Apacer
                                .standard 2.5inch
                                .price 1850000
                                .memory 2000
                        

            .see-more-product
                a(href="/template-part/product-list-mobi-hard-disk.html") 
                    |Xem tất cả
                    img(src="./../images/home-page/see-more.png", alt="arrow")
    section.product-microSD
        .container
            .bagde-title
                h4 Thẻ nhớ điện thoại
            .sort-product-by-brand
                p Sắp xếp theo
                .dropdown#dr3
                    button#dropdownMenuButton4.btn.btn-secondary.dropdown-toggle.microsd-prd(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        | Mặc định
                    .dropdown-menu.microsd-prd(aria-labelledby='dropdownMenuButton')
                        a.dropdown-item(href='#' data-sort-by= "all" data-filter="all") Mặc định
                        a.dropdown-item(href='#' data-sort-by="name" data-filter="ASC") A - Z
                        a.dropdown-item(href='#' data-sort-by="name" data-filter="DESC") Z - A
                        a.dropdown-item(href='#' data-sort-by="price" data-filter="ASC") Giá tăng dần
                        a.dropdown-item(href='#' data-sort-by="price" data-filter="DESC") Giá giảm dần
            .row
                .col-md-12
                    .block-card-microsd
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/microSD/1.jpg' alt='thẻ nhớ SanDisk')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 38%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-microsd.html") Thẻ Nhớ MicroSDHC SanDisk Ultra 16GB 80MB/s 533x
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 80.000 đ
                                        del 130.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Sandisk
                                .standard 
                                .price 130000
                                .memory 16
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/microSD/2.jpg' alt='ssd')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 33%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-microsd.html") Thẻ nhớ MicroSDHC Kingston Canvas Select 16GB Class 10 U1 80MB/s SDCS/16GB
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 80.000 đ
                                        del 120.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                                .filter-hidden(style={display:'none'})
                                    .brand Kingston
                                    .standard 
                                    .price 80000
                                    .memory 16
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/microSD/3.jpg' alt='ssd')
                                //- .layer-sale
                                //-     img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                //-     .sale-percent
                                //-         p 16%
                                //-         h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-microsd.html") Thẻ Nhớ MicroSDHC SanDisk Ultra 32GB 80MB/s 533x
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 115.000 đ
                                        //- del 2.190.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Sandisk
                                .standard 
                                .price 115000
                                .memory 32
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/microSD/4.jpg' alt='ssd')
                                //- .layer-sale
                                //-     img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                //-     .sale-percent
                                //-         p 16%
                                //-         h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-microsd.html") Thẻ nhớ MicroSDHC SanDisk Ultra A1 16GB 98MB/s
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 110.000 đ
                                        //- del 2.190.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Sandisk
                                .standard 
                                .price 110000
                                .memory 16
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/microSD/5.jpg' alt='ssd')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 19%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-microsd.html") Thẻ Nhớ MicroSDXC Samsung EVO Plus U3 64GB 100MB/s MB-MC64G
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 260.000 đ
                                        del 320.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Samsung
                                .standard 
                                .price 260000
                                .memory 64
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/microSD/6.jpg' alt='ssd')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 27%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-microsd.html") Thẻ Nhớ MicroSDHC Samsung EVO Plus U1 32GB 95MB/s
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 120.000 đ
                                        del 165.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Samsung
                                .standard 
                                .price 120
                                .memory 32
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/microSD/7.jpg' alt='ssd')
                                .layer-sale
                                    img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                    .sale-percent
                                        p 22%
                                        h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-microsd.html") Thẻ Nhớ MicroSDXC Lexar U3 V30 A2 512GB 633x 100MB/s LSDMI512BBAP633A
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 1.399.000 đ
                                        del 1.790.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Lexar
                                .standard 
                                .price 1399000
                                .memory 512
                        .card
                            .block-img
                                img.card-img-top(src='./../images/product-list/microSD/8.jpg' alt='ssd')
                                //- .layer-sale
                                //-     img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                //-     .sale-percent
                                //-         p 16%
                                //-         h5 giảm
                            .card-body
                                .product-title
                                    h5.card-title
                                        a(href="/template-part/product-detail-microsd.html") Thẻ Nhớ 32GB TOSHIBA Chính Hãng - 32GB TOSHIBA
                                .rating-price
                                    .rating
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.fas.fa-star
                                        i.far.fa-star
                                    .price-product
                                        p 295.000 đ
                                        //- del 2.190.000 đ
                            .layer-hover
                                .button-buy
                                    a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                            .filter-hidden(style={display:'none'})
                                .brand Toshiba
                                .standard 
                                .price 295000
                                .memory 32
                        

            .see-more-product
                a(href="/template-part/product-list-microsd.html") 
                    |Xem tất cả
                    img(src="./../images/home-page/see-more.png", alt="arrow")
    section.product-ram
        .container
            .bagde-title
                h4 Ram máy tính
            ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
                li.nav-item
                    a#pills-home-tab.nav-link.active(data-toggle='pill' href='#pills-home' role='tab' aria-controls='pills-home' aria-selected='true') Ram Laptop
                li.nav-item
                    a#pills-profile-tab.nav-link(data-toggle='pill' href='#pills-profile' role='tab' aria-controls='pills-profile' aria-selected='false') Ram PC
            #pills-tabContent.tab-content
                #pills-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-home-tab')
                    .sort-product-by-brand
                        p Sắp xếp theo
                        .dropdown#dr4
                            button#dropdownMenuButton5.btn.btn-secondary.dropdown-toggle.ram-prd(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                | Mặc định
                            .dropdown-menu.ram-prd(aria-labelledby='dropdownMenuButton')
                                a.dropdown-item(href='#' data-sort-by= "all" data-filter="all") Mặc định
                                a.dropdown-item(href='#' data-sort-by="name" data-filter="ASC") A - Z
                                a.dropdown-item(href='#' data-sort-by="name" data-filter="DESC") Z - A
                                a.dropdown-item(href='#' data-sort-by="price" data-filter="ASC") Giá tăng dần
                                a.dropdown-item(href='#' data-sort-by="price" data-filter="DESC") Giá giảm dần
                    .row
                        .col-md-12
                            .block-card-ram
                                .card
                                    .block-img
                                        img.card-img-top(src='./../images/product-list/ram/1.jpg' alt='ssd')
                                        .layer-sale
                                            img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                            .sale-percent
                                                p 44%
                                                h5 giảm
                                    .card-body
                                        .product-title
                                            h5.card-title
                                                a(href="/template-part/product-detail-ram.html") Ram Laptop Apacer DDR3L 4GB Bus 1600Mhz 1.35v DV.04G2K.KAM
                                        .rating-price
                                            .rating
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.far.fa-star
                                            .price-product
                                                p 420.000 đ
                                                del 750.000 đ
                                    .layer-hover
                                        .button-buy
                                            a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                                    .filter-hidden(style={display:'none'})
                                        .brand Apacer
                                        .standard 1600
                                        .price 420000
                                        .memory 4
                                .card
                                    .block-img
                                        img.card-img-top(src='./../images/product-list/ram/2.jpg' alt='ssd')
                                        .layer-sale
                                            img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                            .sale-percent
                                                p 40%
                                                h5 giảm
                                    .card-body
                                        .product-title
                                            h5.card-title
                                                a(href="/template-part/product-detail-ram.html") Ram Laptop Apacer DDR3 4GB Bus 1600Mhz 1.5v DS.04G2K.KAM
                                        .rating-price
                                            .rating
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.far.fa-star
                                            .price-product
                                                p 450.000 đ
                                                del 750.000 đ
                                    .layer-hover
                                        .button-buy
                                            a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                                        .filter-hidden(style={display:'none'})
                                            .brand Apacer
                                            .standard 1600
                                            .price 450000
                                            .memory 4
                                .card
                                    .block-img
                                        img.card-img-top(src='./../images/product-list/ram/3.jpg' alt='ssd')
                                        //- .layer-sale
                                        //-     img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                        //-     .sale-percent
                                        //-         p 17%
                                        //-         h5 giảm
                                    .card-body
                                        .product-title
                                            h5.card-title
                                                a(href="/template-part/product-detail-ram.html") Ram G.Skill DDR3 4GB Bus 1600 1.5v F3-12800CL11S-4GBSQ
                                        .rating-price
                                            .rating
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.far.fa-star
                                            .price-product
                                                p 490.000 đ
                                                //- del 1.750.000 đ
                                    .layer-hover
                                        .button-buy
                                            a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                                    .filter-hidden(style={display:'none'})
                                        .brand G.Skill
                                        .standard 1600
                                        .price 490000
                                        .memory 4
                                .card
                                    .block-img
                                        img.card-img-top(src='./../images/product-list/ram/4.jpg' alt='ssd')
                                        //- .layer-sale
                                        //-     img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                        //-     .sale-percent
                                        //-         p 16%
                                        //-         h5 giảm
                                    .card-body
                                        .product-title
                                            h5.card-title
                                                a(href="/template-part/product-detail-ram.html") Ram Kingston DDR3L 4GB Bus 1600 SODIMM 1.35v ( KVR16LS11/4 )
                                        .rating-price
                                            .rating
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.far.fa-star
                                            .price-product
                                                p 500.000 đ
                                                //- del 2.190.000 đ
                                    .layer-hover
                                        .button-buy
                                            a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                                    .filter-hidden(style={display:'none'})
                                        .brand Kingston
                                        .standard 1600
                                        .price 500000
                                        .memory 4
                                .card
                                    .block-img
                                        img.card-img-top(src='./../images/product-list/ram/5.jpg' alt='ssd')
                                        .layer-sale
                                            img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                            .sale-percent
                                                p 23%
                                                h5 giảm
                                    .card-body
                                        .product-title
                                            h5.card-title
                                                a(href="/template-part/product-detail-ram.html") Ram G.Skill Ripjaws DDR3L 4GB Bus 1600MHz 1.35v F3-1600C11S-4GRSL
                                        .rating-price
                                            .rating
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.far.fa-star
                                            .price-product
                                                p 500.000 đ
                                                del 650.000 đ
                                    .layer-hover
                                        .button-buy
                                            a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                                    .filter-hidden(style={display:'none'})
                                        .brand G.Skill
                                        .standard 1600
                                        .price 500000
                                        .memory 4
                                .card
                                    .block-img
                                        img.card-img-top(src='./../images/product-list/ram/6.jpg' alt='ssd')
                                        //- .layer-sale
                                        //-     img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                        //-     .sale-percent
                                        //-         p 18%
                                        //-         h5 giảm
                                    .card-body
                                        .product-title
                                            h5.card-title
                                                a(href="/template-part/product-detail-ram.html") Ram Kingston DDR3 4GB Bus 1333 SODIMM 1.5v ( KVR13S9S8/4 )
                                        .rating-price
                                            .rating
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.far.fa-star
                                            .price-product
                                                p 520.000 đ
                                                //- del 1.890.000 đ
                                    .layer-hover
                                        .button-buy
                                            a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                                    .filter-hidden(style={display:'none'})
                                        .brand Kingston
                                        .standard 1333
                                        .price 520000
                                        .memory 4
                                .card
                                    .block-img
                                        img.card-img-top(src='./../images/product-list/ram/7.jpg' alt='ssd')
                                        .layer-sale
                                            img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                            .sale-percent
                                                p 29%
                                                h5 giảm
                                    .card-body
                                        .product-title
                                            h5.card-title
                                                a(href="/template-part/product-detail-ram.html") Ram Corsair DDR3L 4GB Bus 1600 SODIMM 1.35v ( CMSO4GX3M1C1600C11 )
                                        .rating-price
                                            .rating
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.far.fa-star
                                            .price-product
                                                p 550.000 đ
                                                del 770.000 đ
                                    .layer-hover
                                        .button-buy
                                            a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                                    .filter-hidden(style={display:'none'})
                                        .brand Corsair
                                        .standard 1600
                                        .price 550000
                                        .memory 4
                                .card
                                    .block-img
                                        img.card-img-top(src='./../images/product-list/ram/8.jpg' alt='ssd')
                                        //- .layer-sale
                                        //-     img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                        //-     .sale-percent
                                        //-         p 14%
                                        //-         h5 giảm
                                    .card-body
                                        .product-title
                                            h5.card-title
                                                a(href="/template-part/product-detail-ram.html") Ram Corsair Vengeance DDR3 4GB Bus 1600 1.5V ( CMSX4GX3M1A1600C9 )
                                        .rating-price
                                            .rating
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.far.fa-star
                                            .price-product
                                                p 560.000 đ
                                                //- del 2.150.000 đ
                                    .layer-hover
                                        .button-buy
                                            a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                                    .filter-hidden(style={display:'none'})
                                        .brand Corsair
                                        .standard 1600
                                        .price 560000
                                        .memory 4
                                
                    .see-more-product
                        a(href="/template-part/product-list-ram.html") 
                            |Xem tất cả
                            img(src="./../images/home-page/see-more.png", alt="arrow")
                #pills-profile.tab-pane.fade(role='tabpanel' aria-labelledby='pills-profile-tab')
                    .sort-product-by-brand
                        p Sắp xếp theo
                        .dropdown#dr5
                            button#dropdownMenuButton6.btn.btn-secondary.dropdown-toggle.ram-pc-prd(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                | Mặc định
                            .dropdown-menu.rampc-prd(aria-labelledby='dropdownMenuButton')
                                a.dropdown-item(href='#' data-sort-by= "all" data-filter="all") Mặc định
                                a.dropdown-item(href='#' data-sort-by="name" data-filter="ASC") A - Z
                                a.dropdown-item(href='#' data-sort-by="name" data-filter="DESC") Z - A
                                a.dropdown-item(href='#' data-sort-by="price" data-filter="ASC") Giá tăng dần
                                a.dropdown-item(href='#' data-sort-by="price" data-filter="DESC") Giá giảm dần
                    .row
                        .col-md-12
                            .block-card-rampc
                                .card
                                    .block-img
                                        img.card-img-top(src='./../images/product-list/ram-pc/1.jpg' alt='ssd')
                                        .layer-sale
                                            img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                            .sale-percent
                                                p 30%
                                                h5 giảm
                                    .card-body
                                        .product-title
                                            h5.card-title
                                                a(href="/template-part/product-detail-rampc.html") Ram PC Kingston HyperX Fury Black 8GB Bus 2666 DDR4 CL16 DIMM XMP Non-ECC
                                        .rating-price
                                            .rating
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.far.fa-star
                                            .price-product
                                                p 880.000 đ
                                                del 1.250.000 đ
                                    .layer-hover
                                        .button-buy
                                            a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                                    .filter-hidden(style={display:'none'})
                                        .brand Kingston
                                        .standard 2666
                                        .price 880000
                                        .memory 8
                                .card
                                    .block-img
                                        img.card-img-top(src='./../images/product-list/ram-pc/2.jpg' alt='ssd')
                                        .layer-sale
                                            img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                            .sale-percent
                                                p 29%
                                                h5 giảm
                                    .card-body
                                        .product-title
                                            h5.card-title
                                                a(href="/template-part/product-detail-rampc.html") Ram PC Crucial Ballistix Sport LT 8GB Bus 2666 DDR4 CL16
                                        .rating-price
                                            .rating
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.far.fa-star
                                            .price-product
                                                p 890.000 đ
                                                del 1.250.000 đ
                                    .layer-hover
                                        .button-buy
                                            a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                                    .filter-hidden(style={display:'none'})
                                        .brand Crucial
                                        .standard 2666
                                        .price 890000
                                        .memory 8
                                .card
                                    .block-img
                                        img.card-img-top(src='./../images/product-list/ram-pc/3.jpg' alt='ssd')
                                        //- .layer-sale
                                        //-     img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                        //-     .sale-percent
                                        //-         p 17%
                                        //-         h5 giảm
                                    .card-body
                                        .product-title
                                            h5.card-title
                                                a(href="/template-part/product-detail-rampc.html") Ram PC Corsair Vengeance LPX 8GB (1x8GB) Bus 2666 DDR4 C16
                                        .rating-price
                                            .rating
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.far.fa-star
                                            .price-product
                                                p 930.000 đ
                                                //- del 1.750.000 đ
                                    .layer-hover
                                        .button-buy
                                            a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                                    .filter-hidden(style={display:'none'})
                                        .brand Corsair
                                        .standard 2666
                                        .price 930000
                                        .memory 8
                                .card
                                    .block-img
                                        img.card-img-top(src='./../images/product-list/ram-pc/4.jpg' alt='ssd')
                                        .layer-sale
                                            img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                            .sale-percent
                                                p 24%
                                                h5 giảm
                                    .card-body
                                        .product-title
                                            h5.card-title
                                                a(href="/template-part/product-detail-rampc.html") Ram PC Corsair Vengeance RGB Pro DDR4 8GB (1x8GB) Bus 3000Mhz C16
                                        .rating-price
                                            .rating
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.far.fa-star
                                            .price-product
                                                p 1.250.000 đ
                                                del 1.650.000 đ
                                    .layer-hover
                                        .button-buy
                                            a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                                    .filter-hidden(style={display:'none'})
                                        .brand Corsair
                                        .standard 3000
                                        .price 1250000
                                        .memory 8
                                .card
                                    .block-img
                                        img.card-img-top(src='./../images/product-list/ram-pc/5.jpg' alt='ssd')
                                        //- .layer-sale
                                        //-     img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                        //-     .sale-percent
                                        //-         p 23%
                                        //-         h5 giảm
                                    .card-body
                                        .product-title
                                            h5.card-title
                                                a(href="/template-part/product-detail-rampc.html") Ram PC G.SKILL Trident Z full length RGB DDR4 8GB Bus 3000 Black CL16 XMP
                                        .rating-price
                                            .rating
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.far.fa-star
                                            .price-product
                                                p 1.290.000 đ
                                                //- del 650.000 đ
                                    .layer-hover
                                        .button-buy
                                            a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                                    .filter-hidden(style={display:'none'})
                                        .brand G.Skill
                                        .standard 3000
                                        .price 1290000
                                        .memory 8
                                .card
                                    .block-img
                                        img.card-img-top(src='./../images/product-list/ram-pc/6.jpg' alt='ssd')
                                        .layer-sale
                                            img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                            .sale-percent
                                                p 28%
                                                h5 giảm
                                    .card-body
                                        .product-title
                                            h5.card-title
                                                a(href="/template-part/product-detail-rampc.html") Ram PC Kingston HyperX Predator DDR4 RGB 8GB Bus 3200 Black CL16 XMP (8GB x 1)
                                        .rating-price
                                            .rating
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.far.fa-star
                                            .price-product
                                                p 1.290.000 đ
                                                del 1.790.000 đ
                                    .layer-hover
                                        .button-buy
                                            a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                                    .filter-hidden(style={display:'none'})
                                        .brand Kingston
                                        .standard 3200
                                        .price 1290000
                                        .memory 8
                                .card
                                    .block-img
                                        img.card-img-top(src='./../images/product-list/ram-pc/7.jpg' alt='ssd')
                                        //- .layer-sale
                                        //-     img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                        //-     .sale-percent
                                        //-         p 29%
                                        //-         h5 giảm
                                    .card-body
                                        .product-title
                                            h5.card-title
                                                a(href="/template-part/product-detail-rampc.html") Ram PC Kingston HyperX Fury Black 16GB Bus 2666 DDR4 CL16 DIMM XMP Non-ECC
                                        .rating-price
                                            .rating
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.far.fa-star
                                            .price-product
                                                p 1.750.000 đ
                                                //- del 770.000 đ
                                    .layer-hover
                                        .button-buy
                                            a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                                    .filter-hidden(style={display:'none'})
                                        .brand Kingston
                                        .standard 2666
                                        .price 1750000
                                        .memory 16
                                .card
                                    .block-img
                                        img.card-img-top(src='./../images/product-list/ram-pc/8.jpg' alt='ssd')
                                        //- .layer-sale
                                        //-     img.img-fluid(src='./../images/home-page/bagde-sale.png' alt='ssd')
                                        //-     .sale-percent
                                        //-         p 14%
                                        //-         h5 giảm
                                    .card-body
                                        .product-title
                                            h5.card-title
                                                a(href="/template-part/product-detail-rampc.html") Ram PC Corsair Vengeance LPX 16GB (1x16GB) Bus 2666 DDR4 C16
                                        .rating-price
                                            .rating
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.fas.fa-star
                                                i.far.fa-star
                                            .price-product
                                                p 1.950.000 đ
                                                //- del 2.150.000 đ
                                    .layer-hover
                                        .button-buy
                                            a.btn.btn-info(href="/template-part/cart.html") Mua ngay
                                    .filter-hidden(style={display:'none'})
                                        .brand Corsair
                                        .standard 2666
                                        .price 1950000
                                        .memory 16

                    .see-more-product
                        a(href="/template-part/product-list-ram-pc.html") 
                            |Xem tất cả
                            img(src="./../images/home-page/see-more.png", alt="arrow")
            

            
    section.brand-favorite
        .container
            .bagde-title
                h4 Các nhãn hiệu được ưa chuộng
            .brand-appearence-like
                .slide-only-brand
                    img.img-fluid(src="./../images/home-page/10.jpg", alt="kingston")
                .slide-only-brand
                    img.img-fluid(src="./../images/home-page/11.jpg", alt="crucial")
                .slide-only-brand
                    img.img-fluid(src="./../images/home-page/12.jpg", alt="samsung")
                .slide-only-brand
                    img.img-fluid(src="./../images/home-page/13.jpg", alt="western")
                .slide-only-brand
                    img.img-fluid(src="./../images/home-page/14.jpg", alt="intel")
                .slide-only-brand
                    img.img-fluid(src="./../images/home-page/15.jpg", alt="seagate")
                .slide-only-brand
                    img.img-fluid(src="./../images/home-page/16.jpg", alt="toshiba")
                .slide-only-brand
                    img.img-fluid(src="./../images/home-page/17.jpg", alt="apacer")
                .slide-only-brand
                    img.img-fluid(src="./../images/home-page/18.jpg", alt="flextor")
                
            
