.wraper-menutop.fixed-top
    .quickly-search-top-page
        .container
            .logo-brand 
                a(href="/template-part/index.html")
                    img.img-fluid(src="./../images/logo.png", alt="logo")
            .quickly-search
                input(type="text", placeholder="Tìm kiếm sản phẩm")
                button.btn.btn-warning
                    img(src="./../images/fe-search.png", alt="icon-search")
            .cart-quick-access
                a(href="/template-part/cart.html")
                    span
                        img.img-fluid(src="./../images/icon-cart.png", alt="icon-cart")
                    span Giỏ hàng

    .menu-main
        
        .img-frames
            img.img-fluid(src="./../images/menu/bg-nav-top2.png", alt="frame-navbar")
        .container
            .list-menu-left
                ul.menu-list-cover
                    .cover-by-menu
                        span
                            img.img-fluid(src="./../images/menu/nav-icon.png", alt="button-menu")
                        span Danh mục sản phẩm
                    .menu-level-1
                        li.menu-list-item
                            a(href="/template-part/product-list.html") SSD
                            .menu-level-2
                                ul.menu-list-item-level-2 
                                    span Dung lượng
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list.html") SSD 120-28GB
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list.html") SSD 240-256GB
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list.html") SSD 480-512GB
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list.html") SSD 960GB - 1TB
                                ul.menu-list-item-level-2 
                                    span Thương hiệu
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list.html") SSD Trancend
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list.html") SSD Samsung
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list.html") SSD Sandisk
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list.html") SSD Kingston
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list.html") SSD Intel
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list.html") SSD Crucial
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list.html") SSD Western Digital
                                ul.menu-list-item-level-2 
                                    span Chuẩn SSD
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list.html") 2.5 inch (Chuẩn phổ thông)
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list.html") M.2 PCIe
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list.html") M.2 Sata
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list.html") mSata

                        li.menu-list-item
                            a(href="/template-part/product-list-mobi-hard-disk.html")  Ổ cứng di động
                            .menu-level-2
                                ul.menu-list-item-level-2 
                                    span Dung lượng
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-mobi-hard-disk.html") Ổ cứng di động 500GB
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-mobi-hard-disk.html") Ổ cứng di động 1TB
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-mobi-hard-disk.html") Ổ cứng di động 2TB
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-mobi-hard-disk.html") Ổ cứng di động 3TB
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-mobi-hard-disk.html") Ổ cứng di động 4TB-8TB
                                ul.menu-list-item-level-2 
                                    span Thương hiệu
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-mobi-hard-disk.html") Toshiba
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-mobi-hard-disk.html") Adata
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-mobi-hard-disk.html") Lacie
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-mobi-hard-disk.html") Seagate
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-mobi-hard-disk.html") Apacer
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-mobi-hard-disk.html") Trancend
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-mobi-hard-disk.html") Western Digital
                        li.menu-list-item
                            a(href="/template-part/product-list-microsd.html")  Thẻ nhớ
                            .menu-level-2
                                ul.menu-list-item-level-2 
                                    span Micro SD
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-microsd.html") MicroSD 16GB
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-microsd.html") MicroSD 32GB
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-microsd.html") MicroSD 64GB
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-microsd.html") MicroSD 128GB
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-microsd.html") MicroSD 200 - 256GB
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-microsd.html") MicroSD 400GB - 1TB
                                ul.menu-list-item-level-2 
                                    span Thương hiệu
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-microsd.html") Toshiba
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-microsd.html") Samsung
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-microsd.html") Sandisk
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-microsd.html") Kingston
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-microsd.html") Lexar
                        li.menu-list-item
                            a(href="/template-part/product-list-ram.html")  Ram máy tính
                            .menu-level-2
                                ul.menu-list-item-level-2 
                                    span Ram LAPTOP    
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-ram.html") Ram DDR3 cho laptop
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-ram.html") Ram DDR4 cho laptop
                                ul.menu-list-item-level-2 
                                    span Ram PC   
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-ram-pc.html") Ram DDR3 cho destop
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-ram-pc.html") Ram DDR4 cho destop
                                ul.menu-list-item-level-2 
                                    span Thương hiệu   
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-ram-pc.html") Apacer
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-ram-pc.html") Corsair
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-ram-pc.html") G.Skill
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-ram-pc.html") Kingston
                                ul.menu-list-item-level-2 
                                    span Bus ram
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-ram.html") Bus 1600MHz
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-ram.html") Bus 2133MHz
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-ram.html") Bus 2400MHz
                                    li.menu-list-item-child
                                        a(href="/template-part/product-list-ram.html") Bus 2666MHz
                        li.menu-list-item
                            a(href="")  Best seller
                            .menu-level-2
                                ul.menu-list-item-level-2 
                                    span Top SSD   
                                    li.menu-list-item-child
                                        a(href="") Xem chi tiết
                                ul.menu-list-item-level-2 
                                    span Top ram máy tính  
                                    li.menu-list-item-child
                                        a(href="") Xem chi tiết
                                ul.menu-list-item-level-2 
                                    span Top thẻ nhớ   
                                    li.menu-list-item-child
                                        a(href="") Xem chi tiết
                                ul.menu-list-item-level-2 
                                    span Top ổ cứng di động
                                    li.menu-list-item-child
                                        a(href="") Xem chi tiết
                    
            .logo-center
                img.img-fluid(src="./../images/menu/logoS.png" alt="logo")
            .menu-right
                a(href="/template-part/index.html") Trang chủ
                    hr
                
                a(href="/template-part/contact-us.html") Liên hệ
                    hr
    nav(aria-label='breadcrumb')
        .container
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/template-part/index.html') Trang chủ
                li.breadcrumb-item
                    a(href='#') Danh mục sản phẩm
                li.breadcrumb-item.active(aria-current='page') Library

.sub-menu-small-screen
    .menu-mobile
        .contain-button-nav
            .button-nav
                img.img-fluid(src="./../images/menu/nav-icon.png", alt="button-nav")
            .only-logo
                img.img-fluid(src="./../images/logo.png", alt="logo")
        .only-button-quickly-search
            input(type="text", placeholder="Sản phẩm bạn muốn tìm")
            button.btn.btn-warning 
                img(src="./../images/fe-search.png", alt="icon-search")
        nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='/template-part/index.html') Trang chủ
                li.breadcrumb-item
                    a(href='#') Danh mục sản phẩm
                li.breadcrumb-item.active(aria-current='page') Library
        ul.sub-menu-list-cover
            .sub-cover-by-menu
                span
                    img.img-fluid(src="./../images/menu/nav-icon.png", alt="button-menu")
                span Danh mục sản phẩm
            .sub-menu-level-1
                li.sub-menu-list-item
                    .click-sub-menu
                        a(href="/template-part/product-list.html") SSD
                    .sub-menu-level-2
                        ul.sub-menu-list-item-level-2 
                            span Dung lượng
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list.html") SSD 120-28GB
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list.html") SSD 240-256GB
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list.html") SSD 480-512GB
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list.html") SSD 960GB - 1TB
                        ul.sub-menu-list-item-level-2 
                            span Thương hiệu
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list.html") SSD Flextor
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list.html") SSD Samsung
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list.html") SSD Sandisk
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list.html") SSD Kingston
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list.html") SSD Intel
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list.html") SSD Crucial
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list.html") SSD Western Digital
                        ul.sub-menu-list-item-level-2 
                            span Chuẩn SSD
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list.html") 2.5 inch (Chuẩn phổ thông)
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list.html") M.2 PCIe
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list.html") M.2 Sata
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list.html") mSata

                li.sub-menu-list-item
                    .click-sub-menu
                        a(href="/template-part/product-list-mobi-hard-disk.html")  Ổ cứng di động
                    .sub-menu-level-2
                        ul.sub-menu-list-item-level-2 
                            span Dung lượng
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-mobi-hard-disk.html") Ổ cứng di động 500GB
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-mobi-hard-disk.html") Ổ cứng di động 1TB
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-mobi-hard-disk.html") Ổ cứng di động 2TB
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-mobi-hard-disk.html") Ổ cứng di động 3TB
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-mobi-hard-disk.html") Ổ cứng di động 4TB-8TB
                        ul.sub-menu-list-item-level-2 
                            span Thương hiệu
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-mobi-hard-disk.html") Toshiba
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-mobi-hard-disk.html") Adata
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-mobi-hard-disk.html") Lacie
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-mobi-hard-disk.html") Seagate
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-mobi-hard-disk.html") Apacer
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-mobi-hard-disk.html") Trancend
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-mobi-hard-disk.html") Western Digital
                li.sub-menu-list-item
                    .click-sub-menu
                        a(href="/template-part/product-list-microsd.html")  Thẻ nhớ
                    .sub-menu-level-2
                        ul.sub-menu-list-item-level-2 
                            span Micro SD
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-microsd.html") MicroSD 16GB
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-microsd.html") MicroSD 32GB
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-microsd.html") MicroSD 64GB
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-microsd.html") MicroSD 128GB
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-microsd.html") MicroSD 200 - 256GB
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-microsd.html") MicroSD 400GB - 1TB
                        ul.sub-menu-list-item-level-2 
                            span Thương hiệu
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-microsd.html") Toshiba
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-microsd.html") Samsung
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-microsd.html") Sandisk
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-microsd.html") Kingston
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-microsd.html") Lexar
                li.sub-menu-list-item
                    .click-sub-menu
                        a(href="/template-part/product-list-ram.html")  Ram máy tính
                    .sub-menu-level-2
                        ul.sub-menu-list-item-level-2 
                            span Ram LAPTOP    
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-ram.html") Ram DDR3 cho laptop
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-ram.html") Ram DDR4 cho laptop
                        ul.sub-menu-list-item-level-2 
                            span Ram PC   
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-ram-pc.html") Ram DDR3 cho destop
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-ram-pc.html") Ram DDR4 cho destop
                        ul.sub-menu-list-item-level-2 
                            span Thương hiệu   
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-ram-pc.html") Apacer
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-ram-pc.html") Corsair
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-ram-pc.html") G.Skill
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-ram-pc.html") Kingston
                        ul.sub-menu-list-item-level-2 
                            span Bus ram
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-ram.html") Bus 1600MHz
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-ram.html") Bus 2133MHz
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-ram.html") Bus 2400MHz
                            li.sub-menu-list-item-child
                                a(href="/template-part/product-list-ram.html") Bus 2666MHz
                li.sub-menu-list-item
                    .click-sub-menu
                        a(href="")  Best seller
                    .sub-menu-level-2
                        ul.sub-menu-list-item-level-2 
                            span Top SSD   
                            li.sub-menu-list-item-child
                                a(href="/template-part/top-ssd.html") Xem chi tiết
                        ul.sub-menu-list-item-level-2 
                            span Top ram máy tính  
                            li.sub-menu-list-item-child
                                a(href="/template-part/top-ram.html") Xem chi tiết
                        ul.sub-menu-list-item-level-2 
                            span Top thẻ nhớ   
                            li.sub-menu-list-item-child
                                a(href="/template-part/top-microsd.html") Xem chi tiết
                        ul.sub-menu-list-item-level-2 
                            span Top ổ cứng di động
                            li.sub-menu-list-item-child
                                a(href="/template-part/top-mobi-disk.html") Xem chi tiết
                
        .layer-background-under
        .sub-list-menu-mobile
            .sub-menu-slide
                .contain-sub-logo
                    img.img-fluid(src="./../images/menu/logoS.png", alt="sub-logo")
                .sub-menu-second
                    .home-page-link
                        a(href="/template-part/index.html") Trang chủ
                    .about-page-link
                        a(href="/template-part/contact-us.html") Liên hệ
                    


                    
