extends layout.pug
block header
    title Sstore - Chính sách giao hàng

block content
    section.policy-restore
        .container
            h3 Chính sách giao hàng
            ol.level-1
                li Chính sách giao hàng tại khu vực TP. Hà Nội
                    ol.level-2
                        li Giao hàng và thu tiền (COD):
                            ul.level-3
                                li Đơn hàng trên 300.000đ: miễn phí giao hàng.
                                li Đơn hàng dưới 300.000đ: phụ thu 30.000đ phí giao hàng.
                                p ** Thời gian giao hàng tại các quận nội thành: Ba Đình, Hoàn Kiếm, Đống Đa, Hai Bà Trưng, Cầu Giấy, Thanh Xuân, Tây Hồ, Long Biên, Hà Đông, Bắc – Nam Từ Liêm, Hoàng Mai:
                                li Đặt hàng trước 11H30 bạn sẽ nhận hàng trước 18H cùng ngày.
                                li Đặt hàng sau 11H30 đơn hàng chuyển sang giao trước 18H ngày hôm sau .
                                li Quý khách được hỗ trợ giao hàng lại lần 2 nếu lần giao đầu tiên không thành công. Hoặc nhờ người thân, bạn bè nhận hộ nếu có việc đột xuất không có ở địa chỉ nhận hàng.
                                p ** Thời gian giao hàng tại các huyện ngoại thành Hà Nội không nêu trên như sau:
                                li – Đặt hàng trước 15H bạn sẽ nhận hàng sau 1~3 ngày đặt hàng.

                        li Khách hàng thanh toán trước (chuyển khoản) vào tài khoản của Sstore:
                            p Khách hàng không tiện giao dịch tiền mặt khi nhận hàng có thể thanh toán Tại Đây  phí chuyển khoản do khách hàng thanh toán.


                li Chính sách giao hàng với địa chỉ không thuộc khu vực Tp. Hà Nội:
                    ol.level-2
                        li Giao hàng và thu tiền (COD):
                            ul.level-3
                                li Đơn hàng trên 300.000đ:  miễn phí giao hàng.
                                li Đơn hàng dưới 300.000đ: phụ thu 10.000đ phí giao hàng.
                            p ** Thời gian giao hàng:
                            ul.level-3
                                li Nhận hàng sau 1-2 ngày làm việc đối với các khu vực trung tâm, thành phố, thị xã các tỉnh.
                                li Nhận hàng sau 3-4 ngày làm việc đối với các khu vực huyện, xã, thôn…
                                
                        li Khách hàng thanh toán trước (chuyển khoản) vào tài khoản của Sstore:
                            p Khách hàng không tiện giao dịch tiền mặt khi nhận hàng có thể thanh toán Tại Đây  phí chuyển khoản do khách hàng thanh toán.


                li Quý khách lưu ý:
                    p Chính sách giao hàng áp dụng từ thứ 2 đến thứ 7 trừ Chủ Nhật và ngày lễ.
                    p Chính sách trên chỉ áp dụng cho khu vực Nội thành TP Hà Nội, khu vực ngoại thành, thời gian toàn trình sẽ cộng thêm 1 ngày.
                    p Các mốc thời gian trên đây là thời gian dự kiến, trong một số trường hợp đặc biệt do yếu tố khách quan, đơn hàng của quý khách có thể được giao chậm hơn tối đa 1 ngày so với thời gian dự kiến.
                    p Mọi thắc mắc về đơn hàng và chính sách giao hàng xin vui lòng liên hệ Hotline: 0976 747 562 để được giải đáp cụ thể.




