extends layout.pug
block header
    title Sstore - Chính sách đổi trả hàng

block content
    section.policy-restore
        .container
            h3 Chính sách đổi trả hàng hóa
            ol.level-1
                li Các trường hợp được đổi trả hàng
                    ol.level-2 
                        li Đổi trả theo nhu cầu khách hàng (đổi trả hàng vì sản phẩm không tương thích):
                            p Tất cả mặt hàng mua từ Sstore và không nằm trong danh mục "không hỗ trợ đổi trả" bên dưới đều có thể hoàn trả trong vòng 07 ngày kể từ ngày nhận hàng (trừ khi có quy định gì khác). Chúng tôi chỉ chấp nhận đổi trả cho các sản phẩm còn nguyên vẹn, còn hóa đơn mua hàng tại Sstore và sản phẩm chưa qua sử dụng, cụ thể như sau:
                            ul.level-3
                                li Sản phẩm còn nguyên đóng gói và bao bì không bị móp rách.
                                li Bao bì sản phẩm nguyên vẹn, không bị xé, rách, nhàu nát và chỉ có đường rạch để dán tem bảo hành lên sản phẩm.
                                li Sản phẩm còn đầy đủ các bộ phận, chi tiết, phụ kiện.
                                li Tem / phiếu bảo hành, tem thương hiệu, hướng dẫn kỹ thuật và các quà tặng kèm theo (nếu có) v.v… phải còn đầy đủ và nguyên vẹn.
                                li Không có dữ liệu trong sản phẩm có thiết bị lưu trữ.
                                li Sản phẩm không có dấu hiệu đã được sử dụng. 
                            p Lưu ý: Những sản phẩm đổi trả không đáp ứng các điều kiện nêu trên sẽ được tự động chuyển hoàn về địa chỉ đăng ký theo thông tin đơn hàng của quý khách

                        li Đổi trả không vì lý do chủ quan từ khách hàng: + Hàng giao bị bể vỡ, sai nội dung hoặc bị thiếu:
                            p Sstore khuyến khích quý khách hàng phải kiểm tra tình trạng bên ngoài của gói hàng bao gồm tình trạng gói hàng và phiếu mua hàng được đính kèm theo gói hàng cũng như thông tin trên phiếu mua hàng để tránh tình trạng sai sót.
                            p Trong trường hợp khách hàng đã thanh toán, nhận hàng và sau đó phát hiện hàng hóa bị bể vỡ, sai nội dung hoặc thiếu hàng, xin vui lòng chụp ảnh sản phẩm gửi về hộp thư của chúng tôi để được chúng tôi hỗ trợ các bước tiếp theo như đổi/trả hàng hoặc gửi sản phẩm còn thiếu đến quý khách…
                            p Sau 48h kể từ khi quý khách nhận hàng, Sstore có quyền từ chối hỗ trợ cho những khiếu nại theo nội dung như trên.
                            p Hàng giao bị lỗi kĩ thuật hoặc không đúng như tiêu chuẩn công bố
                            p Sản phẩm chỉ được xem là lỗi kĩ thuật khi được xác nhận từ chính trung tâm kĩ thuật hoặc trung tâm bảo hành của sản phẩm hoặc bộ phận kĩ thuật sản phẩm của Sstore.
                            p Khi quý khách gặp trục trặc với sản phẩm đặt mua tại Sstore, vui lòng thực hiện các bước sau đây:
                                ul.level-4
                                    li  Bước 1: Tự kiểm tra cách thức sử dụng sản phẩm, các thao tác được hướng dẫn trong “Sách hướng dẫn sử dụng” đi kèm với mỗi sản phẩm (nếu có).
                                    li Bước 2: Quý khách liên hệ với trung tâm kĩ thuật/bảo hành nằm trong Sách hướng dẫn sử dụng hoặc phiếu bảo hành của sản phẩm hoặc tem bảo hành. Nếu không thể liên hệ được, quý khách vui lòng liên hệ Sstore để được hỗ trợ.
                                    li  Bước 3: Trong vòng 30 ngày kể từ ngày nhận hàng, nếu quý khách được xác nhận từ trung tâm kĩ thuật hoặc trung tâm bảo hành của sản phẩm rằng sản phẩm bị lỗi kỹ thuật, quý khách vui lòng truy liên hệ Sstore để được hỗ trợ quy trình đổi trả hàng.


                li Phương thức đổi trả hàng và hoàn tiền:
                    p .Tùy theo lí do hoàn trả sản phẩm và kết quả đánh giá chất lượng tại kho, Sstore sẽ có những phương thức hoàn tiền với chi tiết như sau: - Quý khách chọn mua sản phẩm không tương thích sẽ được hỗ trợ đổi sản phẩm khác tương thích với thiết bị của quý khách. Sstore sẽ hoàn lại tiền trong trường hợp không thể cung cấp được mẫu sản phẩm tương thích với thiết bị. Phương thức hoàn tiền sẽ được thực hiện bằng tiền mặt hoặc chuyển khoản qua ngân hàng theo thông tin quý khách cung cấp.
                    p Quý khách yêu cầu đổi trả trong trường hợp "không vì lý do chủ quan từ khách hàng" sẽ được hỗ trợ đổi sản phẩm cùng loại hoặc khác loại với giá trị bằng hoặc cao hơn sản phẩm trước hoặc hoàn lại tiền. Phương thức hoàn tiền sẽ được thực hiện bằng tiền mặt hoặc chuyển khoản qua ngân hàng theo thông tin quý khách cung cấp.
                    p Trong một số trường hợp đặc biệt, Sstore có thể từ chối hoàn tiền, chỉ hỗ trợ đổi sản phẩm khác cùng loại hoặc khác loại với giá trị bằng hoặc cao hơn sản phẩm trước.
                    p Phương thức hoàn tiền mặt trực tiếp chỉ hỗ trợ tại các Văn phòng đổi trả hàng của Sstore tại TP.Hà Nội.
