extends layout.pug
block header
    title Sstore - Ram PC G.SKILL Trident Z

block content
    section.product-price-detail
        .container
            .row
                .col-lg-4
                    .slide-detail-product
                        .img-product-big
                            .img-top
                                img.img-fluid(src="./../images/product-detail/rampc/1.jpg", alt="Samsung SSD 860 EVO")
                            .img-top
                                img.img-fluid(src="./../images/product-detail/rampc/2.jpg", alt="Samsung SSD 860 EVO")
                            .img-top
                                img.img-fluid(src="./../images/product-detail/rampc/3.jpg", alt="Samsung SSD 860 EVO")
                            .img-top
                                img.img-fluid(src="./../images/product-detail/rampc/4.jpg", alt="Samsung SSD 860 EVO")
                        .img-product-small
                            .img-slide
                                img.img-fluid(src="./../images/product-detail/rampc/1.jpg", alt="Samsung SSD 860 EVO")
                            .img-slide
                                img.img-fluid(src="./../images/product-detail/rampc/2.jpg", alt="Samsung SSD 860 EVO")
                            .img-slide
                                img.img-fluid(src="./../images/product-detail/rampc/3.jpg", alt="Samsung SSD 860 EVO")
                            .img-slide
                                img.img-fluid(src="./../images/product-detail/rampc/4.jpg", alt="Samsung SSD 860 EVO")
                .col-lg-5
                    .detail-wrapper
                        .title
                            h4 Ram PC G.SKILL Trident Z full length RGB DDR4 8GB Bus 3000 Black CL16 XMP (Kit 8GB x 1) F4-3000C16S-8GTZR
                        .rating
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.far.fa-star
                        .brand-and-status
                            span.brand Thương hiệu:
                                span G.Skill
                            span.status |Tình trạng:
                                span Còn hàng
                        .price
                            p 1.290.000 đ
                        .infor-detail
                            .block-infor
                                i.fas.fa-check-circle
                                span Loại sản phẩm: Ram PC
                            .block-infor
                                i.fas.fa-check-circle
                                span Dung lượng: 8GB (1 x 8GB) 
                            .block-infor
                                i.fas.fa-check-circle 
                                span Chuẩn: DDR4
                            .block-infor
                                i.fas.fa-check-circle 
                                span Bus: 2133 - 3000 Mhz
                            .block-infor
                                i.fas.fa-check-circle 
                                span Điện áp: 1.2v, 1.35v
                            .block-infor
                                i.fas.fa-check-circle 
                                span Bảo hành 5 năm
                        .quantity
                            p Số lượng
                            .quantity-option
                                .asc
                                    button.btn.btn-primary +
                                .screen
                                    p 1
                                .desc
                                    button.btn.btn-primary -
                        .action-button
                            a.btn.btn-primary(href="/template-part/cart.html")
                                h5 Mua ngay
                                p Giao hàng miễn phí tận nới
                            button.btn.btn-secondary
                                h5 Gọi đặt hàng
                                p Vui lòng gọi: 0976 747 562       
                .col-lg-3
                    .delivery-options
                        .free-delivery
                            img(src="./../images/product-detail/truck-icon.png", alt="icon-truck")
                            .infor-delivery
                                p Giao hầng miễn phí toàn quốc 
                                p cho đơn hàng giá trị từ 300.000đ trở lên
                        .free-delivery
                            img(src="./../images/product-detail/cityscape-icon.png", alt="icon-city")
                            .infor-delivery
                                p Hà Nội
                                p Nhận hàng từ 6h đến 24h sau khi đặt hàng
                        .free-delivery
                            img(src="./../images/product-detail/place-icon.png", alt="icon-place")
                            .infor-delivery
                                p Các tỉnh thành khác
                                p Nhận hàng từ 24h đến 96h sau khi đặt hàng
    section.description-product-detail
        .container
            .bagde-title
                h4 Mô tả sản phẩm
            .description-product
                //- p Ổ cứng SSD Samsung 860 là dòng ổ cứng được nâng cấp từ dòng 850 EVO danh tiếng và bán chạy nhất toàn cầu, là sự lựa chọn tốt nhất dành cho game thủ cả về giá và hiệu năng hoạt động được khẳng định và đánh giá chi tiết bởi các tạp chí công nghệ hàng đầu thế giới như Cnet, thessdreview, the PC World. TweakTown..
                .only-img
                    img.img-fluid(src="./../images/product-detail/rampc/8.jpg", alt="samsung-evo860")
                .infor-with-img
                    .block-content
                        h5 Ram PC G.SKILL Trident Z full length RGB DDR4 Bus 3000
                        p Với thanh ánh sáng hoàn toàn tiếp xúc với đèn LED RGB rực rỡ, được kết hợp với thiết kế tản nhiệt Ram PC G.SKILL Trident Z full length RGB DDR4 16GB Bus 3000 từng đoạt giải thưởng và được chế tạo với các thành phần chất lượng cao nhất, bộ nhớ Ram PC G.SKILL Trident Z full length RGB DDR4 Bus 3000 kết hợp ánh sáng RGB sống động nhất với hiệu suất vượt trội.
                    .img-block
                        img.img-fluid(src="./../images/product-detail/rampc/3.jpg", alt="")
                .infor-with-img
                    .img-block
                        img.img-fluid(src="./../images/product-detail/rampc/4.jpg", alt="")
                    .block-content
                        h5 Hỗ trợ Full Range RGB 16 triệu màu
                        p Ram PC G.SKILL Trident Z full length RGB DDR4 Bus 3000 được trang bị dải led RGB 16 triệu màu, hỗ trợ tùy chỉnh dễ dàng bằng phần mềm.
                .infor-with-img
                    .block-content
                        h5 Được thiết kế đặc biệt
                        p Ram PC G.SKILL Trident Z full length RGB DDR4 Bus 3000 vẫn giữ nguyên thiết kế mang tính biểu tượng của dòng sản phẩm Trident Z truyền thống - có bộ tản nhiệt bằng nhôm sang trọng giúp tản nhiệt cực tốt. Phía trên của tản nhiệt được thiết kế một bộ khuếch tán ánh sáng rộng hơn cho các hiệu ứng ánh sáng lộng lẫy hơn.
                    .img-block
                        img.img-fluid(src="./../images/product-detail/rampc/5.jpg", alt="")
                .infor-with-img
                    .img-block
                        img.img-fluid(src="./../images/product-detail/rampc/6.jpg", alt="")
                    .block-content
                        h5 Hỗ trợ Overlocking
                        p Ram PC G.SKILL Trident Z full length RGB DDR4 Bus 3000 trang bị các chip nhớ IC đã được sàng lọc đặc biệt thông qua quá trình lựa chọn tuyệt vời của G.SKILL và một PCB mười lớp được thiết kế tùy chỉnh cung cấp độ ổn định tín hiệu tối đa, sản phẩm được kiểm tra chặt chẽ về độ tin cậy, khả năng tương thích và hiệu suất trên rất nhiều các bo mạch chủ.
                .infor-with-img
                    .block-content
                        h5 Dễ dàng tùy chỉnh hiệu ứng theo sở thích
                        p Ram PC G.SKILL Trident Z full length RGB DDR4 Bus 3000 có khả năng tương thích và đồng bộ với Mainboard bạn đang dùng thông qua các phần mềm hỗ trợ tùy chỉnh đi kèm của Mainboard, bạn có thể tham khảo bên dưới
                    .img-block
                        img.img-fluid(src="./../images/product-detail/rampc/7.jpg", alt="")
                //- .infor-with-img
                //-     .img-block
                //-         img.img-fluid(src="./../images/product-detail/11.jpg", alt="")
                //-     .block-content
                //-         h5 Mã hóa dữ liệu cực an toàn với mã hóa AES 256 Encryption
                //-         p Ổ cứng SSD Samsung 860 EVO đi kèm các công cụ mã hóa dựa trên phần cứng mới nhất của Samsung. Chuẩn mã hóa AES bằng phần cứng 256-bit không hề ảnh hưởng đến dữ liệu của bạn, phù hợp với TCG Opal 2.0. Dễ dàng tích hợp vào Windows với Microsoft IEEE1667 để giữ cho dữ liệu của bạn được bảo vệ ở tất cả các lần.
                //- .infor-with-img
                //-     .block-content
                //-         h5 Chống nhiệt
                //-         p Công nghê Dynamic Thermal Guard của ổ cứng SSD Samsung 860 EVO liên tục giám sát và duy trì nhiệt độ lý tưởng cho ổ đĩa để hoạt động trong điều kiện tối ưu nhất, đảm bảo tính an toàn của dữ liệu. Dynamic Thermal Guard tự động điều chỉnh hiệu năng ổ cứng để hạ nhiệt độ xuống khi nhiệt độ tăng lên trên mức cho phép. Điều này bảo vệ dữ liệu của bạn trong khi hoạt động để giúp đảm bảo máy tính của bạn luôn được an toàn khỏi bị quá nóng.
                //-     .img-block
                //-         img.img-fluid(src="./../images/product-detail/12.jpg", alt="")
                //- .infor-with-img
                //-     .img-block
                //-         img.img-fluid(src="./../images/product-detail/13.jpg", alt="")
                //-     .block-content
                //-         h5 Samsung Navigator - Dễ dàng nâng cấp SSD và tăng hiệu suất tối đa
                //-         p Chỉ cần ba bước đơn giản, phần mềm đi kèm Samsung Data Migration dễ dàng cho phép bạn di chuyển tất cả các dữ liệu và các ứng dụng từ ổ đĩa HDD hiện tại của bạn sang ổ cứng SSD Samsung 860 Evo. Các phần mềm bao gồm Samsung Magician cũng cho phép bạn thiết lập, tối ưu hóa và quản lý hệ thống của bạn, cho hiệu suất SSD cực cao.
                //- .infor-with-img
                //-     .block-content
                //-         h5 End-to-end - Giải pháp tích hợp
                //-         p Samsung là thương hiệu duy nhất trên thế giới tự thiết kế và sản xuất tất cả các thành phần linh kiện bên trong sản phẩm của họ, cho phép tích hợp hoàn toàn các linh kiện với nhau. Kết quả: tiêu thụ điện năng thấp hơn, hiệu suất được nâng cao, với bộ nhớ cache lên đến 1 GB LPDDR2 DRAM và cải thiện hiệu quả tiêu thụ năng lượng với bộ điều khiển MJX - tất cả từ nhà sản xuất bộ nhớ số 1 thế giới.
                //-     .img-block
                //-         img.img-fluid(src="./../images/product-detail/14.jpg", alt="")
    section.comment
        .container
            .bagde-title
                h4 Bình luận
            .fb-comments(data-href='https://developers.facebook.com/docs/plugins/comments#configurator' data-width='1100' data-numposts='5')

