* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.banner .img_banner .input_form form .btn_find {
    width: 100%;
}

.banner .img_banner .input_form form .btn_find a {
    width: 100%;
    height: 60px;
    padding: 20px 20px;
    text-transform: uppercase;
}

.banner .img_banner .input_form form .input_tag input {
    width: 100%;
    height: 62px;
    border-radius: 5px;
    border: 0;
    outline: none;
    background-color: #ECECEC;
    padding-left: 20px;
}

.banner .img_banner .input_form form .select_tag1 span select {
    width: 100%;
    height: 40px;
    display: block;
    background-color: #ECECEC;
    border-radius: 4px;
    margin-top: -39px;
    border: 0;
    outline: none;
    padding-left: 10px;
    font-weight: 500;
}

.banner .img_banner .input_form form .select_tag1 span select option:first-child::after {
    content: "\f106";
    color: black;
}

.banner .img_banner .input_form form .select_tag1 span::before {
    content: attr(data-label);
    width: 100%;
    background-color: #ECECEC;
    display: block;
    border-radius: 5px;
    height: 60px;
    padding-left: 14px;
}

.banner .img_banner .input_form form {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 20px;
}

section.angencies .block_card5 .block_img5 img {
    width: 80%;
    margin: auto;
    display: block;
}

.footer .footer_right {
    float: right;
}

.footer .bottom_footer .footer_right a {
    color: #999999;
    font-size: 14px;
    margin-right: 15px;
}

.footer .bottom_footer .footer_right a:hover {
    text-decoration: none;
}

.footer .bottom_footer .footer_right a:last-child {
    margin-right: 0;
}

.footer .bottom_footer .footer_left {
    color: #999999;
    font-size: 14px;
}

.footer .bottom_footer {
    width: 100%;
    height: 140px;
    border-top: 1px solid #80808042;
    padding-top: 65px;
}

.footer .middle_footer {
    padding-bottom: 100px;
}

.footer .middle_footer .block_text2 p {
    display: block;
    margin-top: 20px;
    color: #999999;
}

.footer .middle_footer .block_text2 p i {
    margin-right: 20px;
}

footer.footer {
    background-color: #151515;
}

.footer .middle_footer .block_text1 a {
    display: block;
    margin-top: 20px;
    color: #999999;
}

.footer .middle_footer .block_text1 h5 {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 31px;
}

.footer .middle_footer .block_text2 h5 {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 31px;
}

.footer .middle_footer .block_text1 a:hover {
    text-decoration: none;
}

.footer .middle_footer {
    padding-top: 100px;
}

.footer .top_footer .logo_footer {
    margin-top: 8px;
}

.footer .top_footer .icon_left {
    float: right;
    height: 100%;
    width: 75%;
}

.footer .top_footer .icon_left span i {
    color: #ffffff;
}

.footer .top_footer .icon_left span {
    width: 100px;
    height: 100px;
    border-left: 1px solid #80808069;
    display: block;
    float: left;
    padding: 8% 10%;
    font-size: 26px;
}

.footer .top_footer .icon_left span:last-child {
    border-right: 1px solid grey;
}

.footer .top_footer {
    border-bottom: 1px solid #8080806e;
    width: 100%;
    height: 100px;
    padding: 0;
}

.avatar_btn {
    margin-top: 64px;
}

.avatar_btn .right_btn span {
    width: 50px;
    height: 50px;
    background-color: blue;
    display: block;
    color: white;
    padding: 15px 21px;
    float: left;
    margin-right: 20px;
    border-radius: 5px;
}

.avatar_btn .left_avatar {
    float: left;
    width: 50%;
}

.avatar_btn .left_avatar img {
    float: left;
    margin-right: 35px;
}

.avatar_btn .left_avatar span {
    color: #F4F4F4;
    padding-top: 17px;
    display: block;
}

.avatar_btn .left_avatar span h5 {
    font-size: 24px;
    font-weight: 400;
}

.avatar_btn .left_avatar span p {
    color: #AFAFAF;
    font-size: 15px;
}

.avatar_btn .right_btn {
    float: right;
    margin-top: 20px;
}

section.content_end .title_content {
    padding-top: 150px;
    padding-bottom: 150px;
}

section.content_end .title_content p:first-child {
    font-size: 14px;
    font-weight: 500;
    color: #F4F4F4;
}

section.content_end .title_content h1 {
    font-size: 56px;
    color: #ffffff;
}

section.content_end .title_content p:nth-child(3) {
    color: #F4F4F4;
    font-size: 29px;
    font-weight: 500;
    margin-top: 121px;
}

section.content_end {
    width: 100%;
    height: 861px;
    background-image: url(../images/34.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section.values {
    padding-bottom: 50px;
}

.values .btn_end {
    width: 15%;
    margin: auto;
    margin-top: 81px;
    margin-bottom: 30px;
}

.values .btn_end a {
    width: 100%;
    background-color: black;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 500;
}

.values .block_text {
    padding: 30px 20px;
    border-radius: 3%;
}

.values .row .col-md-4:nth-child(2) .block_text {
    box-shadow: 0px 0px 48px 27px #d5d5d521;
}

.values .row .col-md-4:nth-child(3) .block_text {
    box-shadow: -30px 0px 48px 7px #d5d5d521;
}

.values .row .col-md-4:nth-child(1) .block_text {
    box-shadow: 30px 0px 49px 5px #d5d5d521;
}

.values .block_text i {
    color: blue;
    font-size: 45px;
}

.values .block_text h4 {
    font-size: 28px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
}

.values .block_text p {
    color: #999999;
}

section.article {
    background-color: #F3F3F3;
    padding-bottom: 60px;
}

.article .btn_end {
    width: 25%;
    margin: auto;
    margin-top: 81px;
    margin-bottom: 30px;
}

.article .btn_end a {
    width: 100%;
    background-color: black;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 500;
}

.article .block_card6 .block_bt {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    padding-left: 25px;
    padding-right: 25px;
}

.article .block_card6 .block_bt p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.article .block_card6 .block_bt hr {margin-bottom: 8px;}

.article .block_card6 h5 {
    margin-bottom: 80px;
    font-size: 28px;
    font-weight: 500!important;
    margin-top: 15px;
}

.article .block_card6 hr {
}

.article .block_card6 p i {
    margin-right: 6px;
    color: orange;
}

.article .block_card6 a.btn.btn-primary {
    font-size: 13px;
    padding: 5px 10px;
}

section.angencies {
    padding-bottom: 190px;
    background-color: #FAFAFA;
}

section.angencies .block_card5 .card-body.text-center h5.card-title {
    font-size: 36px;
    color: #111111;
}

section.angencies .block_card5 .card-body.text-center p {
    font-size: 16px;
    color: #999999;
}

section.angencies .block_card5 .card-body.text-center a {
    background-color: #EAEDFD;
    border: 0;
}

section.angencies .block_card5 .card-body.text-center a:hover {
    background-color: #2A41E8;
    font-size: 16px;
}

section.angencies .block_card5 .card-body.text-center p img {
    margin-right: 20px;
}

section.angencies .block_card5 .block_img5 .block_icon5 {
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 0 20px;
}

section.angencies .block_card5 .block_img5 .block_icon5 span:last-child {
    float: right;
}

section.angencies .block_card5 .block_img5 .block_icon5 span:last-child i {
    margin-right: 10px;
    color: gold;
}

section.angencies .block_card5 .block_img5 .block_icon5 span:first-child i {
    color: green;
    margin-right: 20px;
}

section.angencies .block_card5 .block_img5 {
    position: relative;
}

section.angencies .block_card5 {
    width: 100%;
}

.sell .advertisement {
    width: 734px;
    height: 496px;
    background-color: #2842CD;
    padding-top: 90px;
    padding-left: 75px;
    margin-top: 185px;
}

.sell .advertisement h1 {
    display: block;
    width: 60%;
    color: #ffffff;
    font-size: 60px;
    font-weight: 500;
}

.sell .advertisement p {
    font-size: 20px;
    color: #C6CBEA;
    display: block;
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sell .advertisement a {
    background-color: black;
    text-transform: uppercase;
    padding: 15px 30px;
    border: 0;
    border-radius: 23px;
    font-size: 18px;
    font-weight: 500;
}

.sell .advertisement a i {
    margin-left: 35px;
}

section.sell {
    width: 100%;
    height: 869px;
    background-image: url(../images/33.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.angents .container .row .block_card4 {
    width: 100%;
}

.angents .container .row:nth-child(2) {
    margin: auto;
}

.slide_dot {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.slide_dot span {
    margin-left: 20px;
    font-size: 15px;
}

.slide_dot span:first-child {
    font-size: 15px;
    margin-left: 0;
}

.slide_dot span:first-child i {}

.angents .row .card-deck .block_icon4 span {
    width: 55px;
    display: block;
    height: 45px;
    border: 1px solid #b9b2b23b;
    float: left;
}

.angents .row .card-deck .block_icon4 {
}

.angents .row .card-deck .block_icon4 span:nth-child(2) {
    border-right: 0;
    border-left: 0;
}

.angents .row .card-deck .block_icon4 span i {
    margin-top: 15px;
    margin-left: 20px;
}

.angents .row .card-deck .contain_img4 {
    width: 90%;
    margin: auto;
    margin-top: 17px;
}

.angents .row .card-deck .card .card-body p {
    color: #636363;
}

.angents .row .card-deck .card .card-body h5 {
    font-size: 36px;
    color: #111111;
    font-weight: 400;
}

section.angents {
    background-color: #F3F3F3;
    padding-bottom: 100px;
}

section.properties {
    background-color: #FAFAFA;
    padding-bottom: 50px;
}

.properties .block_text3 {
    position: absolute;
    bottom: 0;
    left: 30px;
    z-index: 1;
    color: #ffffff;
}

.properties .block_text3 p i {
    margin-right: 10px;
}

.properties .block_text3 h3 {
    font-size: 32px;
    font-weight: 500;
}

.properties .block_text3 h1 {
    font-size: 32px;
    font-weight: 500;
}

.properties .block_img3 {
    position: relative;
    margin-bottom: 25px;
}

.properties .block_img3 img {
    border-radius: 10px;
}

section.hotdeal {
    background-color: #FAFAFA;
}

.contain_text.text-center .block_icon2 img {
    width: 75px;
    margin: auto;
    margin-right: 32px;
}

.contain_text.text-center .block_icon2 img:last-child {
    margin-right: 0;
}

.contain_text.text-center {
    padding-top: 50px;
}

.contain_text.text-center .media img {
    margin: auto;
}

.contain_text.text-center .media {
    margin-top: 50px;
    margin-bottom: 50px;
}

.media {}

.contain_text.text-center .btn_text a {
    background-color: #FF5E15!important;
    border: 0;
    font-size: 16px!important;
}

.contain_text.text-center p {
    font-size: 18px;
    color: #9B9B9B;
    margin-bottom: 40px;
}

.contain_text.text-center h1 {
    font-size: 36px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 40px;
}

.hotdeal .row .col-md-6 {
    padding: 0;
}

.contain_text.text-center {
    width: 100%;
    height: 100%;
    background-color: #292929;
}

.contain_img2 {
    position: relative;
}

.contain_img2 a {
    position: absolute;
    bottom: 5%;
    left: 10%;
    z-index: 1;
    background-color: #ffffff;
    color: blue;
    font-weight: 500;
    font-size: 14px;
}

.feature .btn_end {
    width: 16%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.feature .btn_end a {
    width: 100%;
    background-color: black;
    padding: 10px 20px;
    border-radius: 100px;
}

section.feature {
    background-color: #FAFAFA;
}

.feature .block_card1 {
    margin-bottom: 30px;
}

.title_feature.text-center {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 100px;
}

.title_feature.text-center h1 {
    font-size: 56px!important;
}

.title_feature.text-center p {
    font-size: 14px;
    font-weight: 500;
    color: #8C8C8C;
}

.block_card1 .card .card-body .left_icon {
    float: left;
}

.block_card1 .card .card-body hr {
    margin-bottom: 20px;
    margin-top: 20px;
}

.block_card1 .card .card-body .right_icon {
    float: right;
}

.block_card1 .card .card-body span:first-child i {
    color: #FF5E14;
    margin-right: 5px;
}

.block_card1 .card .card-body h5 {
    font-size: 20px;
    font-weight: 400;
    color: #1D1D1D;
    padding-top: 20px;
    padding-bottom: 20px;
}

.block_card1 .card .card-body span:first-child {
    font-size: 14px;
}

.block_card1 .card .card-body span:nth-child(4) {
    float: right;
}

.block_card1 .card .card-body span:nth-child(4) i {
    margin-right: 6px;
}

.block_card1 .card .card-body span:nth-child(3) {
    color: lightblue;
    font-size: 14px;
}

.block_card1 .card .card-body span:nth-child(3) img {
    padding-right: 5px;
}

.block_card1 .contain_img1 .left_btn a {
    margin-left: 31px;
}

.block_card1 .contain_img1 a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    border: 0;
}

.block_card1 .contain_img1 .btn_top .left_btn a:last-child {
    margin-left: 5px;
    background-color: #FF5E14;
}

.block_card1 .contain_img1 .btn_bottom .right_btn a:first-child {
    margin-right: 5px;
}

.block_card1 .contain_img1 .btn_bottom .left_btn a {
    background-color: #ffffff;
    color: blue;
}

.block_card1 .contain_img1 .btn_bottom .right_btn a {
    background-color: black;
}

.block_card1 .contain_img1 .right_btn a {
    margin-right: 30px;
}

.block_card1 .contain_img1 .left_btn {
    float: left;
}

.block_card1 .contain_img1 .right_btn {
    float: right;
    /* width: 50%; */
}

.block_card1 .contain_img1 .btn_bottom {
    position: absolute;
    bottom: 10%;
    left: 0;
    z-index: 2;
    width: 100%;
}

.block_card1 .contain_img1 .btn_top {
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 1;
    width: 100%;
}

.block_card1 .contain_img1 {
    position: relative;
}

.menutop form span:last-child button.btn.btn-outline-success.my-2.my-sm-0 {width: 100%;height: 100%;padding: 30px;border-radius: 0;background-color: #FF5E14;color: #ffffff;font-size: 16px;font-weight: 500;border: 0;}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    height: 81px;
    padding-right: 0;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light ul li a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #4B4D4F;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light ul li {
    margin-right: 20px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light ul li a i {
    margin-left: 5px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light ul li.nav-item.active a {
    color: #2A41E8;
}

.menutop form span {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    width: 100px;
    border-right: 1px solid #f4e8e8;
    height: 81px;
    padding-top: 35px;
}

.menutop form span:last-child {
    width: 200px;
    border: 0;
    padding: 0;
}

.menutop form span:first-child {
    padding-right: 30px;
    display: block;
    width: 123px;
    padding-top: 33px;
}

.menutop form span:nth-child(2) {
    display: block;
    width: 95px;
    height: 81px;
    padding-left: 20px;
}

.menutop form span:nth-child(2) i {
    margin-left: 17px;
}

.menutop form span i {
    margin-left: 10px;
}

.input_form {
    width: 100%;
    padding: 10px 20px;
}

.title_banner {
    margin-left: 227px;
    padding-top: 158px;
    color: #ffffff;
}

.title_banner h1 {
    font-size: 42px;
    font-weight: 500;
}

.title_banner p {
    font-size: 18px;
}

.banner .img_banner {
    width: 100%;
    height: 663px;
    background-image: url(images/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.address .right_addr {
    float: right;
}

.address .right_addr span {
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    border-left: 1px solid #c3c3c3a6;
}

.address .right_addr span:last-child i {
    margin-right: 10px;
}

.address .right_addr span:last-child {
    width: 173px;
}

.address .right_addr span {
    text-align: center;
    padding-top: 15px;
}

.address .right_addr span a {
    color: #ffffff;
    transition: 0.2s;
}

.address .right_addr span a:hover {
    text-decoration: none;
    color: #d5d5d5;
}

.address .left_addr i {
    margin-right: 20px;
}

.address .left_addr > span {
    margin-right: 20px;
}

.address {
    background-color: blue;
    color: #ffffff;
}

.left_addr {
    padding-top: 14px;
}
body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    *{}

.footer .middle_footer {
    padding-top: 120px;
}

.footer .top_footer .icon_left span i {font-size: 13px;}

.avatar_btn .right_btn span {
    width: 40px;
    height: 40px;
    padding: 9px 13px;
}

.avatar_btn .left_avatar img {
    margin-right: 20px;
}

.avatar_btn .left_avatar span {
    display: inline-block;
}

.avatar_btn .left_avatar span p {
    font-size: 11px;
}

.avatar_btn .left_avatar span h5 {
    font-size: 15px;
}

section.content_end .title_content p:nth-child(3) {
    font-size: 20px;
    margin-top: 52px;
}

section.content_end .title_content h1 {
    font-size: 43px;
}

.sell .advertisement h1 {
    font-size: 50px;
}

.title_feature.text-center h1 {
    font-size: 47px!important;
}

.banner .img_banner .input_form form .input_tag input {
    padding-left: 10px;
}

.title_banner h1 {
    font-size: 33px;
}

.address .right_addr span {
    width: 45px;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.address .right_addr span:nth-child(5) {
    border-right: 1px solid;
}

.address .right_addr span:nth-child(6) {
    border-right: 1px solid;
}

.address .right_addr span a {
    font-size: 13px;
}

.address .left_addr> span {
    font-size: 13px;
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.address .left_addr a {
    font-size: 13px;
}

section.content_end {
    height: auto;
}

    .footer .middle_footer .block_text1 h5 {
        margin-bottom: 20px;
    }

    .footer .middle_footer .block_text1 a {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .footer .bottom_footer {
        padding-top: 30px;
        height: 100px;
    }

    .footer .footer_right {
        float: left;
    }

    .footer .top_footer .logo_footer img {
    max-width: 100%;
    }

    .footer .top_footer {
        height: 100%;
        float: left;
    }

    .footer .top_footer .icon_left span {
        padding: 0% 9%;
        margin-bottom: -6px;
        height: 100%;
        width: 45px;
        border-top: 1px solid;
    }

    .footer .top_footer .icon_left {
        width: 65%;
        margin-top: 0;
        border-bottom: 1px solid;
        height: 41px;
        float: left;
    }

    .footer .top_footer .logo_footer {
        margin-top: 0;
        width: 24%;
        float: left;
        margin-bottom: 10px;
    }

    .values .btn_end {
        width: 45%;
    }

    .values .block_text {
        margin-bottom: 20px;
    }

    .article .btn_end {
        width: 55%;
    }

    .article .block_card6 {
        width: 90%;
        margin: auto;
    }

    section.angencies .block_card5 {
        width: 90%;
        margin: auto;
    }

    .sell .advertisement {
        padding-left: 30px;
        width: 100%;
    }

    .properties .block_img3 img {
        width: 100%;
    }

    .properties .block_img3 {
    }

    .feature .btn_end {
        width: 52%;
    }

    .contain_text.text-center {
        width: 90%;
        margin: auto;
        padding-bottom: 30px;
    }

    .contain_img2 {
        width: 90%;
        margin: auto;
    }

    .feature .block_card1 {
        width: 90%;
        margin: auto;
    }

    .banner .img_banner .input_form form .input_tag {
        margin-bottom: 10px;
    }

    .banner .img_banner .input_form form .select_tag1 select {margin-bottom: 10px;}

    .banner .img_banner .input_form form {
        height: auto;
        padding: 10px 10px;
    }

    .input_form {
        height: auto;
    }

    .title_banner {
        margin-left: 37px;
    }

    div#navbarTogglerDemo02 form span:nth-child(3) {
        width: 150px;
        margin-top: -11px;
        padding: 0;
    }

    div#navbarTogglerDemo02 form span button {
        padding: 9px 9px;
        width: 100%;
        height: 50px;
        font-size: 13px;
    }

    div#navbarTogglerDemo02 form span:nth-child(2) {
        width: 50px;
    }

    div#navbarTogglerDemo02 form span {
        height: 50px;
        padding: 16px 0px;
        width: 102px;
        font-size: 13px;
    }

    div#navbarTogglerDemo02 form {
        height: 50px;
    }

    div#navbarTogglerDemo02 {
        background-color: #ffffff;
        width: 100%;
        margin-top: -6px;
        margin-left: -16px;
        padding-left: 22px;
    }

    nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    height: auto;
    }

    button.navbar-toggler {
        margin-right: 20px;
        margin-top: -9px;
    }

    button.navbar-toggler.collapsed {
        margin-right: 20px;
        margin-top: -9px;
    }

    .menutop a.navbar-brand {
        /* margin-top: -15px; */
        width: 40%;
    }

    .address .right_addr span:last-child {
        padding-left: 0px;
    }

    .left_addr {
        border-bottom: 1px solid #c7c2c263;
    }


    .address .right_addr {
        float: left;
    }

    .address .left_addr span:nth-child(4) {
        margin-right: 41px;
    }
        
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    *{}

.avatar_btn .right_btn span {
}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    *{}
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    *{}
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    *{}
}