extends layout.pug
block header
    title Sstore - Giới thiệu

block content
    section.about-us
        .container
            h3 Giới thiệu
            p
                strong Sstore
                | là một thương hiệu chuyên cung cấp các sản phẩm, dịch vụ và giải pháp về bộ nhớ, dữ liệu và các dịch vụ đi kèm. Sstore là đối tác của các hãng sản xuất bộ nhớ lưu trữ hàng đầu thế giới như Kingston, SanDisk, Toshiba, Transcend, WD, Seagate, Plextor, PNY..
            p 
                strong Sstore
                |nghiên cứu và phát triển giải pháp để giải quyết những vấn đề liên quan đến lưu trữ và xử lý dữ liệu, nâng cấp và tăng tốc hệ thống.

            p Dữ liệu là một phần thiết yếu của cuốc sống hiện đại và nhu cầu lưu trữ, sao chép, xử lý và bảo vệ dữ liệu luôn là một phần không thể tách rời của nhu cầu đó. Sstore luôn đồng hành cùng bạn trong mọi trường hợp để đảm bảo rằng dữ liệu của bạn sẽ luôn được lưu trữ một cách an toàn và đáng tin cậy.
            p 
                strong Sstore
                |cung cấp chính sách giao hàng đơn giản và tiện lợi để khách hàng có thế dễ dàng tiếp cận các sản phẩm của Sstore thông qua các đối tác giao hàng chuyên nghiệp như Kerry TTC, Viettel Post, EMS bao gồm cả hình thức nhận hàng và thanh toán (COD) trên toàn quốc.