.footer
    .infor-footer
        .container
            .row
                .col-md-8
                    .infor-footer-left
                        .about-footer
                            h5 Giới thiệu
                            .content-infor
                                p
                                    a(href="index.html") Trang chủ
                                p
                                    a(href="about-us.html") Về chúng tôi
                                p
                                    a(href="rule-buy-product.html") Điều khoản giao dịch
                                p
                                    a(href="policy-security.html") Bảo mật thông tin
                                p
                                    a(href="recrument.html") Tuyển dụng
                        .policy-footer
                            h5 Chính sách
                            .content-policy
                                p
                                    a(href="policy-delivery.html") Chính sách giao nhận
                                p
                                    a(href="policy-restore.html") Chính sách đổi trả
                                p
                                    a(href="pay-ment-method.html") Phương thức thanh toán
                                p
                                    a(href="policy-guaranty.html") Chế độ bảo hành
                        .support-footer
                            h5 Hỗ trợ khách hàng
                            .content-support
                                p Hotline: 0976.747.562
                                p Email: ngoson2910@gmail.com
                                p
                                    a(href="change-return.html") Gửi yêu cầu đổi hàng
                                p
                                    a(href="guaranty.html") Gửi yêu cầu bảo hành
                .col-md-4
                    .infor-footer-right
                        .address-footer
                            h5 Địa chỉ
                            .content-support
                                p Ngõ 322, đường Mỹ Đình, Từ Liêm, Hà Nội
                                p 
                                    a(href="https://www.google.com/maps/place/322+M%E1%BB%B9+%C4%90%C3%ACnh+1,+M%E1%BB%B9+%C4%90%C3%ACnh,+T%E1%BB%AB+Li%C3%AAm,+H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam/@21.0231008,105.7717776,17z/data=!3m1!4b1!4m5!3m4!1s0x313454aef9e4ee2f:0x9e0873fb6f91fad6!8m2!3d21.0230958!4d105.7739663?hl=vi-VN") Tìm đường
                        .contact-footer
                            h5 Liên hệ với chúng tôi
                            .contain-icon-social
                                a(href="https://www.facebook.com/sonso.kungfu")
                                    img.img-fluid(src="./images/footer/facebook.svg", alt="icon-facebook")
                                a(href="")
                                    img.img-fluid(src="./images/footer/instagram.svg", alt="icon-instagram")
                                a(href="")
                                    img.img-fluid(src="./images/footer/youtube.svg", alt="icon-youtube")
                                a(href="")
                                    img.img-fluid(src="./images/footer/google-plus.svg", alt="icon-google-plus")
    .copy-right-footer
        p.text-center © 2019- Bản quyền của Sstore
    .back-to-top
        a(href="#")
            img(src="./images/footer/back-to-top.png", alt="back-to-top")
