doctype html
html(lang="vi")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./libs/bootstrap-4.3.1-dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="./fonts/font-awesome/css/all.css")
        link(rel="stylesheet", type="text/css", href="./libs/slick-master/slick/slick.css")
        link(rel="stylesheet", type="text/css", href="./libs/slick-master/slick/slick-theme.css")
        link(rel="stylesheet", type="text/css", href="./libs/jquery-confirm-master/dist/jquery-confirm.min.css")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css')
        link(rel="shortcut icon" type="image/png" href="./images/menu/logoS.png")
        link(rel="stylesheet", href="./css/layout.css")
        link(rel="stylesheet", href="./css/menu.css")
        link(rel="stylesheet", href="./css/footer.css")
        link(rel="stylesheet", href="./css/index.css")
        link(rel="stylesheet", href="./css/product-list.css")
        link(rel="stylesheet", href="./css/product-detail.css")
        link(rel="stylesheet", href="./css/cart.css")
        link(rel="stylesheet", href="./css/payment.css")
        link(rel="stylesheet", href="./css/guaranty.css")
        link(rel="stylesheet", href="./css/policy-restore.css")
        link(rel="stylesheet", href="./css/policy-security.css")
        link(rel="stylesheet", href="./css/about-us.css")
        link(rel="stylesheet", href="./css/payment-method.css")
        link(rel="stylesheet", href="./css/recruitment.css")
        link(rel="stylesheet", href="./css/contact-us.css")

        block header
            title Sstore
    body
        include menu.pug
        .middle-body
            block content
        
        include footer.pug
        #fb-root

        script(src="./libs/Jquery/jquery-3.4.1.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js", integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", crossorigin="anonymous")
        script(src="./libs/bootstrap-4.3.1-dist/js/bootstrap.min.js")
        script(src="./fonts/font-awesome/js/all.js")
        script(type="text/javascript", src="./libs/slick-master/slick/slick.min.js")
        script(type="text/javascript", src="./libs/jquery-confirm-master/dist/jquery-confirm.min.js")
        script(type="text/javascript" src="./libs/isotope/isotope.pkgd.min.js")
        script(type="text/javascript" src="./libs/isotope/fit-columns.js")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js')
        script(async='' defer='' crossorigin='anonymous' src='https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v4.0')
        script(type="text/javascript" src="./js/menu.js")
        script(type="text/javascript" src="./js/footer.js")
        script(type="text/javascript" src="./js/index.js")
        script(type="text/javascript" src="./js/product-list.js")
        script(type="text/javascript" src="./js/product-detail.js")
        script(type="text/javascript" src="./js/cart.js")
        script(type="text/javascript" src="./js/payment.js")
        script(type="text/javascript" src="./js/guaranty.js")