extends layout.pug
block header
    title Sstore - Ram Laptop Apacer

block content
    section.product-price-detail
        .container
            .row
                .col-lg-4
                    .slide-detail-product
                        .img-product-big
                            .img-top
                                img.img-fluid(src="./images/product-detail/ram/1.jpg", alt="Ram Laptop Apacer")
                            .img-top
                                img.img-fluid(src="./images/product-detail/ram/2.jpg", alt="Ram Laptop Apacer")
                            .img-top
                                img.img-fluid(src="./images/product-detail/ram/4.jpg", alt="Ram Laptop Apacer")
                            .img-top
                                img.img-fluid(src="./images/product-detail/ram/5.jpg", alt="Ram Laptop Apacer")
                        .img-product-small
                            .img-slide
                                img.img-fluid(src="./images/product-detail/ram/1.jpg", alt="Ram Laptop Apacer")
                            .img-slide
                                img.img-fluid(src="./images/product-detail/ram/2.jpg", alt="Ram Laptop Apacer")
                            .img-slide
                                img.img-fluid(src="./images/product-detail/ram/4.jpg", alt="Ram Laptop Apacer")
                            .img-slide
                                img.img-fluid(src="./images/product-detail/ram/5.jpg", alt="Ram Laptop Apacer")
                .col-lg-5
                    .detail-wrapper
                        .title
                            h4 Ram Laptop Apacer DDR3L 4GB Bus 1600Mhz 1.35v DV.04G2K.KAM
                        .rating
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.far.fa-star
                        .brand-and-status
                            span.brand Thương hiệu:
                                span Apacer
                            span.status |Tình trạng:
                                span Còn hàng
                        .price
                            p 420.000 đ
                            span.sale-detail 
                                del 750.000 đ
                        .infor-detail
                            .block-infor
                                i.fas.fa-check-circle
                                span Loại sản phẩm: Ram Laptop
                            .block-infor
                                i.fas.fa-check-circle
                                span Dung lượng: 4GB
                            .block-infor
                                i.fas.fa-check-circle 
                                span Chuẩn: DDR3L
                            .block-infor
                                i.fas.fa-check-circle 
                                span Bus: 1600Mhz
                            .block-infor
                                i.fas.fa-check-circle 
                                span Điện áp: 1.35v
                            .block-infor
                                i.fas.fa-check-circle 
                                span Bảo hành 3 năm
                        .quantity
                            p Số lượng
                            .quantity-option
                                .asc
                                    button.btn.btn-primary +
                                .screen
                                    p 1
                                .desc
                                    button.btn.btn-primary -
                        .action-button
                            a.btn.btn-primary(href="cart.html")
                                h5 Mua ngay
                                p Giao hàng miễn phí tận nới
                            button.btn.btn-secondary
                                h5 Gọi đặt hàng
                                p Vui lòng gọi: 0976 747 562       
                .col-lg-3
                    .delivery-options
                        .free-delivery
                            img(src="./images/product-detail/truck-icon.png", alt="icon-truck")
                            .infor-delivery
                                p Giao hầng miễn phí toàn quốc 
                                p cho đơn hàng giá trị từ 300.000đ trở lên
                        .free-delivery
                            img(src="./images/product-detail/cityscape-icon.png", alt="icon-city")
                            .infor-delivery
                                p Hà Nội
                                p Nhận hàng từ 6h đến 24h sau khi đặt hàng
                        .free-delivery
                            img(src="./images/product-detail/place-icon.png", alt="icon-place")
                            .infor-delivery
                                p Các tỉnh thành khác
                                p Nhận hàng từ 24h đến 96h sau khi đặt hàng
    section.description-product-detail
        .container
            .bagde-title
                h4 Mô tả sản phẩm
            .description-product
                //- p Ổ cứng SSD Samsung 860 là dòng ổ cứng được nâng cấp từ dòng 850 EVO danh tiếng và bán chạy nhất toàn cầu, là sự lựa chọn tốt nhất dành cho game thủ cả về giá và hiệu năng hoạt động được khẳng định và đánh giá chi tiết bởi các tạp chí công nghệ hàng đầu thế giới như Cnet, thessdreview, the PC World. TweakTown..
                .only-img
                    img.img-fluid(src="./images/product-detail/ram/3.jpg", alt="samsung-evo860")
                .infor-with-img
                    .block-content
                        h5 RAM Apacer DDR3L 1600MHz
                        p Ram Apacer DDR3L 1600MHz - đáp ứng mọi nhu cầu của mọi nền tảng máy tính với hiệu năng của RAM DDR3L cực kỳ cao sẽ mang đến cho bạn trải nghiệm cực tốt khi chơi Games hay dùng những chương trình nặng mà vẫn giữ hệ thống của bạn mát mẻ. Được thiết kế với điện áp thấp ở 1.35V cho tiêu thụ điện năng ít hơn, giảm sinh nhiệt và hoạt động yên tĩnh. Giúp máy tính của bạn hoạt động lâu hơn.
                    .img-block
                        img.img-fluid(src="./images/product-detail/ram/1.jpg", alt="")
                .infor-with-img
                    .img-block
                        img.img-fluid(src="./images/product-detail/ram/4.jpg", alt="")
                    .block-content
                        h5 Tiết kiệm điện năng - Hiệu suất cao
                        p Ram Apacer DDR3L 1600MHz với độ cải thiện về tốc độ xử lý tăng 33% và hiệu điện thế tiêu thụ 1..5v sẽ giúp tăng thời lượng sử dụng pin laptop của bạn lên đến 35%.
                .infor-with-img
                    .block-content
                        h5 Chất lượng đã được kiểm chứng
                        p Qua hàng ngàn giờ test với những môi trường cực kỳ khắc nghiệt trong các phòng LAB của Apacer, Ram Apacer DDR3L 100MHz sẽ luôn đảm bảo chất lượng trên từng modun được bán ra ngoài thị trường.
                    .img-block
                        img.img-fluid(src="./images/product-detail/ram/5.jpg", alt="")
                .infor-with-img
                    .img-block
                        img.img-fluid(src="./images/product-detail/ram/2.jpg", alt="")
                    .block-content
                        h5 Tương thích 100%
                        p Ram Apacer DDR3L 1600MHz tương thích cực tốt với các dòng máy tính hiện có trên thị trường và làm việc cực kỳ hiệu quả khi chạy chung với các dòng ram DDR3L của các hãng khác.
                //- .infor-with-img
                //-     .block-content
                //-         h5 Cải thiện năng lượng hiệu quả
                //-         p Ổ cứng SSD Samsung 860 EVO làm gia tăng tuổi thọ pin lâu hơn trên máy tính xách tay của bạn với một bộ điều khiển được thiết kế và tối ưu hóa cho công nghệ 3D V-NAND, hỗ trợ Device-Sleep cho Windows với mức tiêu thụ điện chỉ 2mW. Ổ cứng SSD Samsung 860 EVO tiêu thụ năng lượng ít hơn 25% so với 840 EVO trong các hoạt động ghi nhờ công nghệ siêu hiệu quả 3D V-NAND, chỉ tốn một nửa năng lượng hơn so với Planar 2D NAND truyền thống.
                //-     .img-block
                //-         img.img-fluid(src="./images/product-detail/10.jpg", alt="")
                //- .infor-with-img
                //-     .img-block
                //-         img.img-fluid(src="./images/product-detail/11.jpg", alt="")
                //-     .block-content
                //-         h5 Mã hóa dữ liệu cực an toàn với mã hóa AES 256 Encryption
                //-         p Ổ cứng SSD Samsung 860 EVO đi kèm các công cụ mã hóa dựa trên phần cứng mới nhất của Samsung. Chuẩn mã hóa AES bằng phần cứng 256-bit không hề ảnh hưởng đến dữ liệu của bạn, phù hợp với TCG Opal 2.0. Dễ dàng tích hợp vào Windows với Microsoft IEEE1667 để giữ cho dữ liệu của bạn được bảo vệ ở tất cả các lần.
                //- .infor-with-img
                //-     .block-content
                //-         h5 Chống nhiệt
                //-         p Công nghê Dynamic Thermal Guard của ổ cứng SSD Samsung 860 EVO liên tục giám sát và duy trì nhiệt độ lý tưởng cho ổ đĩa để hoạt động trong điều kiện tối ưu nhất, đảm bảo tính an toàn của dữ liệu. Dynamic Thermal Guard tự động điều chỉnh hiệu năng ổ cứng để hạ nhiệt độ xuống khi nhiệt độ tăng lên trên mức cho phép. Điều này bảo vệ dữ liệu của bạn trong khi hoạt động để giúp đảm bảo máy tính của bạn luôn được an toàn khỏi bị quá nóng.
                //-     .img-block
                //-         img.img-fluid(src="./images/product-detail/12.jpg", alt="")
                //- .infor-with-img
                //-     .img-block
                //-         img.img-fluid(src="./images/product-detail/13.jpg", alt="")
                //-     .block-content
                //-         h5 Samsung Navigator - Dễ dàng nâng cấp SSD và tăng hiệu suất tối đa
                //-         p Chỉ cần ba bước đơn giản, phần mềm đi kèm Samsung Data Migration dễ dàng cho phép bạn di chuyển tất cả các dữ liệu và các ứng dụng từ ổ đĩa HDD hiện tại của bạn sang ổ cứng SSD Samsung 860 Evo. Các phần mềm bao gồm Samsung Magician cũng cho phép bạn thiết lập, tối ưu hóa và quản lý hệ thống của bạn, cho hiệu suất SSD cực cao.
                //- .infor-with-img
                //-     .block-content
                //-         h5 End-to-end - Giải pháp tích hợp
                //-         p Samsung là thương hiệu duy nhất trên thế giới tự thiết kế và sản xuất tất cả các thành phần linh kiện bên trong sản phẩm của họ, cho phép tích hợp hoàn toàn các linh kiện với nhau. Kết quả: tiêu thụ điện năng thấp hơn, hiệu suất được nâng cao, với bộ nhớ cache lên đến 1 GB LPDDR2 DRAM và cải thiện hiệu quả tiêu thụ năng lượng với bộ điều khiển MJX - tất cả từ nhà sản xuất bộ nhớ số 1 thế giới.
                //-     .img-block
                //-         img.img-fluid(src="./images/product-detail/14.jpg", alt="")
    section.comment
        .container
            .bagde-title
                h4 Bình luận
            .fb-comments(data-href='https://developers.facebook.com/docs/plugins/comments#configurator' data-width='1100' data-numposts='5')

