extends layout.pug
block header
    title Sstore - Tuyển dụng
    
block content
    section.recruitment
        .container
            h3 Tuyển dụng
            p Mọi chi tiết xin quý khách vui lòng liên hệ: 0976 747 562