*{}

section.about-us {
    margin-top: 300px;
    padding-bottom: 10rem;
}

section.about-us p {
    text-align: justify;
    line-height: 2rem;
    text-indent: 1rem;
}

section.about-us p strong {
    margin-right: 0.5rem;
    
}

section.about-us h3 {
    font-family: 'Proxima Nova Semibold';
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}