*{}

.acount-banking {
    width: 100%;
    border: 1px solid #02C874;
    border-radius: 5px;
    margin-bottom: 10rem;
    padding: 2rem;
}

.acount-banking p {
    text-align: center;
    color: #ff0000;
    font-family: 'Proxima Nova Semibold';
    font-size: 1.25rem;
}