*{}

.detail-wrapper .price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.detail-wrapper .price p {
    margin-bottom: 0;
    margin-right: 3rem;
}

.detail-wrapper .price .sale-detail {
    font-size: 1.1rem;
}

section.comment {
    padding-bottom: 10rem;
}

section.description-product-detail {
    padding-bottom: 10rem;
    background-color: #E4EDF0;
}

section.comment .bagde-title {
    transform: translateY(-1.25rem);
    margin-bottom: 3rem;
}

section.description-product-detail .bagde-title {
    transform: translateY(-1.25rem);
    margin-bottom: 3rem;
}

.description-product {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.only-img {
    margin: auto;
    width: 100%;
}

.only-img img {
    width: 100%;
}

.only-img img {
    margin: auto;
    display: block;
}

.block-content {
    width: 80%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.block-content h5 {
    color: black;
    font-family: 'Proxima Nova Semibold';
    font-size: 1.5rem;
}

.infor-with-img .img-block {
    width: 320px!important;
    /* height: 320px; */
}

.img-block img {
    width: 100%;
}

.infor-with-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
}

.infor-with-img:last-child {
    border-bottom: 0;
}

.delivery-options {
    border: 1px solid #02C874;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.infor-delivery p:first-child {/* margin-bottom: 0; */margin-top: 1rem;font-family: 'Proxima Nova Semibold';}

.free-delivery {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid black;
    padding-top: 1rem;
}

.free-delivery:last-child {
    border: 0;
}

.free-delivery img {
    margin-right: 0.625rem;
}

.action-button button.btn.btn-secondary {
    background-color: #02C874;
    border: 0;
}

.action-button .btn.btn-primary {
    background-color: #F57224;
    border: 0;
    margin-right: 1rem;
}

.action-button {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;
}

.action-button .btn h5 {
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-bottom: 0;
}

.action-button .btn p {
    margin-bottom: 0;
    font-size: 0.875rem;
}

.quantity .quantity-option .screen {
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity .quantity-option .screen p {
    margin-bottom: 0;
}

.quantity .quantity-option {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #444444; */
    border-radius: 5px;
    margin: auto;
}

.detail-wrapper .quantity .quantity-option {
    margin: unset;
}

.quantity .quantity-option .asc button, .quantity .quantity-option .desc button {
    background-color: #ffffff!important;
    border: 1px solid #cacaca;
    border-radius: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px -1px;
    padding-top: 2px;
    color: #000000;
}

.quantity .quantity-option .desc button {
}

.quantity {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    margin-top: 2rem;
}

.infor-detail .block-infor svg {
    color: #02C874;
    margin-right: 0.625rem;
}

.price p {
    font-size: 30px;
    color: #02C874;
}

span.status span {
    color: #02C874;
    margin-left: 0.5rem;
}

span.brand span {
    color: #02C874;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.title {}

.img-product-small button.slick-next.slick-arrow {
    transform: translate(-7px, -27px);
}

.img-product-small button.slick-prev.slick-arrow {transform: translate(7px, -27px);}

.img-product-small .slick-list.draggable {height: 100px;overflow: hidden;}

.img-product-small button.slick-next.slick-arrow::before {
    content: url(./../images/product-detail/arrow-right.png);
}

.img-product-small button.slick-prev.slick-arrow::before {
    content: url(./../images/product-detail/arrow-left.png);
}

.img-product-big.slick-initialized.slick-slider {
    height: 350px;
}

ul.slick-dots {
}

.img-product-small.slick-initialized.slick-slider.slick-dotted {
    /* height: 100px; */
    margin-bottom: 0;
}



.slide-detail-product ul.slick-dots {
    display: none!important;
}

.img-product-small .slick-slide {
    border: 1px solid #dadada;
    width: 65px!important;
    height: 65px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}

section.product-price-detail {
    margin-top: 300px;
    padding-bottom: 10rem;
}

section.product-price-detail .title h4 {
    color: #444444;
    font-family: 'Proxima Nova Semibold';
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    *{}

.slide-detail-product {
    margin-bottom: 2rem;
}

.img-product-small .slick-list.draggable {
}

.slide-detail-product ul.slick-dots {
    display: block!important;
}

.img-product-small button.slick-next.slick-arrow {
    display: none!important;
}

.img-product-small button.slick-prev.slick-arrow {
    display: none!important;
}

    .action-button button.btn.btn-secondary {
        padding: 0.5rem 1rem;
    }

    .action-button .btn.btn-primary {
        padding: 0.5rem 1rem;
    }

    .action-button {
        justify-content: flex-start;
    }

    .detail-wrapper {
        margin-bottom: 2rem;
    }

    .action-button .btn p {display: none;}

    .action-button .btn h5 {}

    .block-content {
        width: 100%;
        padding: 0;
        text-align: justify;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .infor-with-img {
        flex-direction: column;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    *{}

.block-content {
    width: 100%;
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.infor-with-img {
    flex-direction: column;
}

.free-delivery img {
    margin-right: 2rem;
}

.free-delivery {
    justify-content: flex-start;
}

.action-button {
    justify-content: flex-start;
}

.detail-wrapper {
    margin-bottom: 2rem;
}

.img-product-big.slick-initialized.slick-slider {
    height: 450px;
}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    *{}

.img-product-small.slick-initialized.slick-slider.slick-dotted {
    width: 471px;
    margin: auto;
}

.free-delivery img {
    margin-right: 3rem;
}

.free-delivery {
    justify-content: flex-start;
}

.detail-wrapper {
    margin-bottom: 2rem;
}

.action-button {
    justify-content: flex-start;
}

.img-product-big.slick-initialized.slick-slider {
    height: 600px;
}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    *{}

.action-button {
    justify-content: flex-start;
    margin-top: 2rem;
}

.infor-delivery p:first-child {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.free-delivery img {
    width: 25px;
}

.img-product-big.slick-initialized.slick-slider {
    height: 300px;
}

.slide-detail-product ul.slick-dots {
    display: block!important;
}

.img-product-small button.slick-next.slick-arrow {
    display: none;
}

.img-product-small button.slick-prev.slick-arrow {
    display: none;
}

.img-product-small .slick-list.draggable {
    height: 65px;
}

.action-button .btn p {
    font-size: 12px;
}
}