*{}

.page-1.shown, .page-2.shown, .page-3.shown, .page-4.shown {
    display: block;
}

.page-1.hidden, .page-2.hidden, .page-3.hidden, .page-4.hidden {
    display: none;
}

.page-2, .page-3, .page-4 {
    display: none;
}

.block-card:nth-child(2), .block-card:nth-child(3), .block-card:nth-child(4) {
    display: none;
}

.form-check {
    display: flex;
    flex-flow: column wrap;
    padding-left: 0;
}

.filter-prd .form-check {
    margin-left: 0;
}

.form-check input {
    /* padding-left: 0!important; */
    margin-right: 1rem;
}

.block-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.block-card .card {
    width: 262px;
    margin-bottom: 1rem;
}

.layout-and-sort .list-icon {
    background-color: #ffffff;
}

.layout-and-sort .grid-icon {
    background-color: #02C874;
}

.layout-and-sort .grid-icon.remove-background {
    background-color: #ffffff;
}

.grid-product-list.hidden {
    display: none;
}

.list-product-appearence {
    display: none;
    margin-top: 2rem;
}

.list-product-appearence.showed {
    display: block;
}

.right-infor-price a.btn.btn-primary {
    background-color: #02C874!important;
    border: 0;
    padding: 0.5rem 1.5rem;
}

.right-infor-price {
    padding-left: 1.5rem;
}

.right-infor-price span del {
    color: #000000;
    font-size: 1rem;
    margin-left: 5rem;
    display: inline-block;
}

.right-infor-price h5 {
    font-weight: bold;
    font-size: 1.125rem;
}

.right-infor-price span {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ff0000;
}

.left-only-img {position: relative;width: 200px;}

.list-product-appearence .block-appearence-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.25rem;
    border-bottom: 2px solid #02C874;
    margin-bottom: 2rem;
}

.page-number {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.page-number button.btn {
    margin-top: 1rem;
    margin-right: 0.5rem;
    padding: 0.4rem 1rem;
    background-color: #c4c4c4;
    border: 0;
}

.page-number button.btn.btn-primary.isActive {
    background-color: #02C874;
}

.title-product h5 {
    font-weight: bold;
    margin-bottom: 0;
}

.layout-and-sort .list-icon, .layout-and-sort .grid-icon {
    width: 40px;
    height: 40px;
    border: 1px solid #02C874;
    border-radius: 5px;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #a3ffd8; */
}

.layout-and-sort .list-icon.add-background {
    background-color: #02C874;
}

.layout-and-sort .list-icon img {
}

.grid-product-list .card-deck .card-body .rating-price .price-product {
    margin-top: 0;
}

.grid-product-list .card-deck .card-body .product-title {
    margin-bottom: 0;
}

.title-top-change-layout-prd {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layout-and-sort .sort-product-by-brand {
    margin-top: 0;
}

.layout-and-sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.grid-product-list .card-deck {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-product-list .card-deck .card-body {
    padding-top: 0.625rem;
}

.grid-product-list .card-deck .card {
    /* width: 95%; */
    margin-bottom: 1.5rem;
}

section.product-list {
    margin-top: 300px;
    padding-bottom: 7rem;
}

.filter-by-price.filter-prd {
    padding-bottom: 1rem;
}

.title-capacity {
    margin-bottom: 1.5rem;
}

.filter-by-size-standard.filter-prd {
    padding-bottom: 1rem;
}

.title-price {
    margin-bottom: 1.5rem;
}

.title-price h4, .title-capacity h4, .title-standard h4 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: bold;
    color: #000000;
}

.title-standard {
    margin-bottom: 1.5rem;
}


.filter-by-brand.filter-prd {
    padding-bottom: 1rem;
}

.form-check .your-choose {
    margin-bottom: 0.5rem;
}

.title-brand h4 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: bold;
    color: #000000;
}

.title-brand {
    margin-bottom: 1.5rem;
}

.title-brand .form-check {
    margin-left: 0!important;
}
