* {
	box-sizing: border-box;
}
body {
	font-size: 20px;
	font-weight: bold;
}
div {
	display: block;
	margin: auto;
	text-transform: uppercase;
}
.wrapper {
	max-width: 200px;
	height: 100px;
	background-color: #f2eef0;
	text-align: center;
	position: relative;
}
.div1, .div2, .div3, .div4, .div5 {
	position: absolute;
	display: inline;
}
.div1 {
	top: 25%;
	left: 50%;
	transform: translate(-50%, -25%);
}
.div5 {
	top: 75%;
	left: 50%;
	transform: translate(-50%, -75%);
}
.div2, .div3, .div4 {
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@keyframes learing {
	0% { top: 20%; opacity: 0 }
	33% { top: 50%; opacity: 1 }
	66% { top: 50%; opacity: 0 }
	100% { top: 50%; opacity: 0 }
}

.div2 {
	background-color: green;
	animation: learing 1s infinite;
}

@keyframes coding {
	0% { top: 20%; opacity: 0 }
	33% { top: 50%; opacity: 0 }
	66% { top: 50%; opacity: 1 }
	100% { top: 50%; opacity: 0 }
}
.div3 {
	background-color: #f24517;
	animation: coding 1s infinite;
}

@keyframes teaching {
	0% { top: 20%; opacity: 0 }
	33% { top: 50%; opacity: 0 }
	66% { top: 50%; opacity: 0 }
	100% { top: 50%; opacity: 1 }
}

.div4 {
	background-color: #9d71e6;
	animation: teaching 1s infinite;
}