extends layout.pug
block header
    title Sstore - Phương thức thanh toán

block content
    section.payment-method
        .container
            h3 Thanh toán
            .acount-banking
                p Số TK: 32310000283558
                p Chủ TK: Ngô Văn Sơn
                p Ngân hàng: BIDV chi nhánh Hà Nội