* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(./img/9eH4nSp.jpg);
    background-size: cover;
    color: white;

}
h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
table {
    width: 1200px;
    margin: auto;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    font-size: 17px;
    margin-bottom: 20px;

}
th {
    padding: 5px 10px;
}
th, td {
    width: calc(1200px/7);
    text-align: center;
}
img {
    width: 100px;
}
tr {
    transition: 0.4s;
}
tr:hover {
    background-color: #8080803d;
}
i {
    float: right;
    padding-top: 4px;
    color: grey;

}

i:hover {
    color:red;
}