.wraper-menutop.fixed-top
    .quickly-search-top-page
        .container
            .logo-brand 
                a(href="")
                    img.img-fluid(src="./../images/logo.png", alt="logo")
            .quickly-search
                input(type="text", placeholder="Tìm kiếm sản phẩm")
                button.btn.btn-warning
                    img(src="./../images/fe-search.png", alt="icon-search")
            .cart-quick-access
                a(href="")
                    span
                        img.img-fluid(src="./../images/icon-cart.png", alt="icon-cart")
                    span Giỏ hàng

    .menu-main
        
        .img-frames
            img.img-fluid(src="./../images/menu/bg-nav-top2.png", alt="frame-navbar")
        .container
            .list-menu-left
                ul.menu-list-cover
                    .cover-by-menu
                        span
                            img.img-fluid(src="./../images/menu/nav-icon.png", alt="button-menu")
                        span Danh mục sản phẩm
                    .menu-level-1
                        li.menu-list-item
                            a(href="") SSD
                            .menu-level-2
                                ul.menu-list-item-level-2 
                                    span Dung lượng
                                    li.menu-list-item-child
                                        a(href="") SSD 120-28GB
                                    li.menu-list-item-child
                                        a(href="") SSD 240-256GB
                                    li.menu-list-item-child
                                        a(href="") SSD 480-512GB
                                    li.menu-list-item-child
                                        a(href="") SSD 960GB - 1TB
                                ul.menu-list-item-level-2 
                                    span Thương hiệu
                                    li.menu-list-item-child
                                        a(href="") SSD Flextor
                                    li.menu-list-item-child
                                        a(href="") SSD Samsung
                                    li.menu-list-item-child
                                        a(href="") SSD Sandisk
                                    li.menu-list-item-child
                                        a(href="") SSD Kingston
                                    li.menu-list-item-child
                                        a(href="") SSD Intel
                                    li.menu-list-item-child
                                        a(href="") SSD Crucial
                                    li.menu-list-item-child
                                        a(href="") SSD Western Digital
                                ul.menu-list-item-level-2 
                                    span Chuẩn SSD
                                    li.menu-list-item-child
                                        a(href="") 2.5 inch (Chuẩn phổ thông)
                                    li.menu-list-item-child
                                        a(href="") M.2 PCIe
                                    li.menu-list-item-child
                                        a(href="") M.2 Sata
                                    li.menu-list-item-child
                                        a(href="") mSata

                        li.menu-list-item
                            a(href="")  Ổ cứng di động
                            .menu-level-2
                                ul.menu-list-item-level-2 
                                    span Dung lượng
                                    li.menu-list-item-child
                                        a(href="") Ổ cứng di động 500GB
                                    li.menu-list-item-child
                                        a(href="") Ổ cứng di động 1TB
                                    li.menu-list-item-child
                                        a(href="") Ổ cứng di động 2TB
                                    li.menu-list-item-child
                                        a(href="") Ổ cứng di động 3TB
                                    li.menu-list-item-child
                                        a(href="") Ổ cứng di động 4TB-8TB
                                ul.menu-list-item-level-2 
                                    span Thương hiệu
                                    li.menu-list-item-child
                                        a(href="") Toshiba
                                    li.menu-list-item-child
                                        a(href="") Adata
                                    li.menu-list-item-child
                                        a(href="") Lacie
                                    li.menu-list-item-child
                                        a(href="") Seagate
                                    li.menu-list-item-child
                                        a(href="") Silicon Power
                                    li.menu-list-item-child
                                        a(href="") Trancend
                                    li.menu-list-item-child
                                        a(href="") Western Digital
                        li.menu-list-item
                            a(href="")  Thẻ nhớ
                            .menu-level-2
                                ul.menu-list-item-level-2 
                                    span Micro SD
                                    li.menu-list-item-child
                                        a(href="") MicroSD 16GB
                                    li.menu-list-item-child
                                        a(href="") MicroSD 32GB
                                    li.menu-list-item-child
                                        a(href="") MicroSD 64GB
                                    li.menu-list-item-child
                                        a(href="") MicroSD 128GB
                                    li.menu-list-item-child
                                        a(href="") MicroSD 200 - 256GB
                                    li.menu-list-item-child
                                        a(href="") MicroSD 400GB - 1TB
                                ul.menu-list-item-level-2 
                                    span Thương hiệu
                                    li.menu-list-item-child
                                        a(href="") Toshiba
                                    li.menu-list-item-child
                                        a(href="") Samsung
                                    li.menu-list-item-child
                                        a(href="") Sandisk
                                    li.menu-list-item-child
                                        a(href="") Kingston
                                    li.menu-list-item-child
                                        a(href="") Lexar
                        li.menu-list-item
                            a(href="")  Ram máy tính
                            .menu-level-2
                                ul.menu-list-item-level-2 
                                    span Ram LAPTOP    
                                    li.menu-list-item-child
                                        a(href="") Ram DDR3 cho laptop
                                    li.menu-list-item-child
                                        a(href="") Ram DDR4 cho laptop
                                ul.menu-list-item-level-2 
                                    span Ram PC   
                                    li.menu-list-item-child
                                        a(href="") Ram DDR3 cho destop
                                    li.menu-list-item-child
                                        a(href="") Ram DDR4 cho destop
                                ul.menu-list-item-level-2 
                                    span Thương hiệu   
                                    li.menu-list-item-child
                                        a(href="") Apacer
                                    li.menu-list-item-child
                                        a(href="") Corsair
                                    li.menu-list-item-child
                                        a(href="") G.Skill
                                    li.menu-list-item-child
                                        a(href="") Kingston
                                ul.menu-list-item-level-2 
                                    span Bus ram
                                    li.menu-list-item-child
                                        a(href="") Bus 1600MHz
                                    li.menu-list-item-child
                                        a(href="") Bus 2133MHz
                                    li.menu-list-item-child
                                        a(href="") Bus 2400MHz
                                    li.menu-list-item-child
                                        a(href="") Bus 2666MHz
                        li.menu-list-item
                            a(href="")  Best seller
                            .menu-level-2
                                ul.menu-list-item-level-2 
                                    span Top SSD   
                                    li.menu-list-item-child
                                        a(href="") Xem chi tiết
                                ul.menu-list-item-level-2 
                                    span Top ram máy tính  
                                    li.menu-list-item-child
                                        a(href="") Xem chi tiết
                                ul.menu-list-item-level-2 
                                    span Top thẻ nhớ   
                                    li.menu-list-item-child
                                        a(href="") Xem chi tiết
                                ul.menu-list-item-level-2 
                                    span Top ổ cứng di động
                                    li.menu-list-item-child
                                        a(href="") Xem chi tiết
                    
            .logo-center
                img.img-fluid(src="./../images/menu/logoS.png" alt="logo")
            .menu-right
                a(href="") Trang chủ
                a(href="") Liên hệ
    nav(aria-label='breadcrumb')
        .container
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='#') Home
                li.breadcrumb-item.active(aria-current='page') Library

.sub-menu-small-screen
    .menu-mobile
        .contain-button-nav
            .button-nav
                img.img-fluid(src="./../images/menu/nav-icon.png", alt="button-nav")
            .only-logo
                img.img-fluid(src="./../images/logo.png", alt="logo")
        .only-button-quickly-search
            input(type="text", placeholder="Sản phẩm bạn muốn tìm")
            button.btn.btn-warning 
                img(src="./../images/fe-search.png", alt="icon-search")
        nav(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='#') Home
                li.breadcrumb-item.active(aria-current='page') Library
        .layer-background-under
        .sub-list-menu-mobile
            .sub-menu-slide
                .contain-sub-logo
                    img.img-fluid(src="./../images/menu/logoS.png", alt="sub-logo")
                .sub-menu-second
                    .home-page-link
                        a(href="") Trang chủ
                    .about-page-link
                        a(href="") Liên hệ
            ul.sub-menu-list-cover
                .sub-cover-by-menu
                    span
                        img.img-fluid(src="./../images/menu/nav-icon.png", alt="button-menu")
                    span Danh mục sản phẩm
                .sub-menu-level-1
                    li.sub-menu-list-item
                        .click-sub-menu
                            a(href="") SSD
                        .sub-menu-level-2
                            ul.sub-menu-list-item-level-2 
                                span Dung lượng
                                li.sub-menu-list-item-child
                                    a(href="") SSD 120-28GB
                                li.sub-menu-list-item-child
                                    a(href="") SSD 240-256GB
                                li.sub-menu-list-item-child
                                    a(href="") SSD 480-512GB
                                li.sub-menu-list-item-child
                                    a(href="") SSD 960GB - 1TB
                            ul.sub-menu-list-item-level-2 
                                span Thương hiệu
                                li.sub-menu-list-item-child
                                    a(href="") SSD Flextor
                                li.sub-menu-list-item-child
                                    a(href="") SSD Samsung
                                li.sub-menu-list-item-child
                                    a(href="") SSD Sandisk
                                li.sub-menu-list-item-child
                                    a(href="") SSD Kingston
                                li.sub-menu-list-item-child
                                    a(href="") SSD Intel
                                li.sub-menu-list-item-child
                                    a(href="") SSD Crucial
                                li.sub-menu-list-item-child
                                    a(href="") SSD Western Digital
                            ul.sub-menu-list-item-level-2 
                                span Chuẩn SSD
                                li.sub-menu-list-item-child
                                    a(href="") 2.5 inch (Chuẩn phổ thông)
                                li.sub-menu-list-item-child
                                    a(href="") M.2 PCIe
                                li.sub-menu-list-item-child
                                    a(href="") M.2 Sata
                                li.sub-menu-list-item-child
                                    a(href="") mSata

                    li.sub-menu-list-item
                        .click-sub-menu
                            a(href="")  Ổ cứng di động
                        .sub-menu-level-2
                            ul.sub-menu-list-item-level-2 
                                span Dung lượng
                                li.sub-menu-list-item-child
                                    a(href="") Ổ cứng di động 500GB
                                li.sub-menu-list-item-child
                                    a(href="") Ổ cứng di động 1TB
                                li.sub-menu-list-item-child
                                    a(href="") Ổ cứng di động 2TB
                                li.sub-menu-list-item-child
                                    a(href="") Ổ cứng di động 3TB
                                li.sub-menu-list-item-child
                                    a(href="") Ổ cứng di động 4TB-8TB
                            ul.sub-menu-list-item-level-2 
                                span Thương hiệu
                                li.sub-menu-list-item-child
                                    a(href="") Toshiba
                                li.sub-menu-list-item-child
                                    a(href="") Adata
                                li.sub-menu-list-item-child
                                    a(href="") Lacie
                                li.sub-menu-list-item-child
                                    a(href="") Seagate
                                li.sub-menu-list-item-child
                                    a(href="") Silicon Power
                                li.sub-menu-list-item-child
                                    a(href="") Trancend
                                li.sub-menu-list-item-child
                                    a(href="") Western Digital
                    li.sub-menu-list-item
                        .click-sub-menu
                            a(href="")  Thẻ nhớ
                        .sub-menu-level-2
                            ul.sub-menu-list-item-level-2 
                                span Micro SD
                                li.sub-menu-list-item-child
                                    a(href="") MicroSD 16GB
                                li.sub-menu-list-item-child
                                    a(href="") MicroSD 32GB
                                li.sub-menu-list-item-child
                                    a(href="") MicroSD 64GB
                                li.sub-menu-list-item-child
                                    a(href="") MicroSD 128GB
                                li.sub-menu-list-item-child
                                    a(href="") MicroSD 200 - 256GB
                                li.sub-menu-list-item-child
                                    a(href="") MicroSD 400GB - 1TB
                            ul.sub-menu-list-item-level-2 
                                span Thương hiệu
                                li.sub-menu-list-item-child
                                    a(href="") Toshiba
                                li.sub-menu-list-item-child
                                    a(href="") Samsung
                                li.sub-menu-list-item-child
                                    a(href="") Sandisk
                                li.sub-menu-list-item-child
                                    a(href="") Kingston
                                li.sub-menu-list-item-child
                                    a(href="") Lexar
                    li.sub-menu-list-item
                        .click-sub-menu
                            a(href="")  Ram máy tính
                        .sub-menu-level-2
                            ul.sub-menu-list-item-level-2 
                                span Ram LAPTOP    
                                li.sub-menu-list-item-child
                                    a(href="") Ram DDR3 cho laptop
                                li.sub-menu-list-item-child
                                    a(href="") Ram DDR4 cho laptop
                            ul.sub-menu-list-item-level-2 
                                span Ram PC   
                                li.sub-menu-list-item-child
                                    a(href="") Ram DDR3 cho destop
                                li.sub-menu-list-item-child
                                    a(href="") Ram DDR4 cho destop
                            ul.sub-menu-list-item-level-2 
                                span Thương hiệu   
                                li.sub-menu-list-item-child
                                    a(href="") Apacer
                                li.sub-menu-list-item-child
                                    a(href="") Corsair
                                li.sub-menu-list-item-child
                                    a(href="") G.Skill
                                li.sub-menu-list-item-child
                                    a(href="") Kingston
                            ul.sub-menu-list-item-level-2 
                                span Bus ram
                                li.sub-menu-list-item-child
                                    a(href="") Bus 1600MHz
                                li.sub-menu-list-item-child
                                    a(href="") Bus 2133MHz
                                li.sub-menu-list-item-child
                                    a(href="") Bus 2400MHz
                                li.sub-menu-list-item-child
                                    a(href="") Bus 2666MHz
                    li.sub-menu-list-item
                        .click-sub-menu
                            a(href="")  Best seller
                        .sub-menu-level-2
                            ul.sub-menu-list-item-level-2 
                                span Top SSD   
                                li.sub-menu-list-item-child
                                    a(href="") Xem chi tiết
                            ul.sub-menu-list-item-level-2 
                                span Top ram máy tính  
                                li.sub-menu-list-item-child
                                    a(href="") Xem chi tiết
                            ul.sub-menu-list-item-level-2 
                                span Top thẻ nhớ   
                                li.sub-menu-list-item-child
                                    a(href="") Xem chi tiết
                            ul.sub-menu-list-item-level-2 
                                span Top ổ cứng di động
                                li.sub-menu-list-item-child
                                    a(href="") Xem chi tiết

                    
